@import "@base";
$basePath: '../../../public/';
@import "@parts/ui-layout";
@import "@parts/ui-tree";
@import "@parts/ui-tabs";
html,body{height:100%;overflow:hidden;font-size:16px;}
@media screen and (min-width:300px){
}
@supports (-moz-user-select:none){
	html,body{overflow:visible;}
}
.tab-container .tab-content{height:100%;overflow:hidden;}
.resize-bar{cursor:default;}
.bar-west{cursor:e-resize;}
.top{height:100%;font-size:16px;color:purple;}
.left-menu{height:100%;}
.bottom{
	text-align:center;
	span{@include ib;}
}
