@import "base.scss";
.pagination-container{padding:1px;vertical-align:middle;}
.pagination-container .pc{display:inline-block;*display:inline;*zoom:1;}
.pagination-container a{color:black;text-decoration:none;vertical-align:middle;padding:2px 8px;display:inline-block;*display:inline;*zoom:1;border:1px solid #d3d3d3;margin:0 2px;cursor:pointer;}
.pagination-container .plain{display:inline-block;*display:inline;*zoom:1;border:none;cursor:default;padding:2px;}
.pagination-container .current{color:red;cursor:default;}
.pagination-container .pn:hover{background:#e3e3e3;}
.pagination-container .form{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}
.pagination-container .form form{display:inline-block;*display:inline;*zoom:1;}
.pagination-container .form .goto{float:none;border:none;padding:0;margin:0;}
.pagination-container .form input{width:20px;height:12px;line-height:11px;_height:14px;}
.pagination-container .desc{display:inline-block;*display:inline;*zoom:1;cursor:default;vertical-align:middle;}
