@import "base.scss";
.tab-container{border:1px solid #ccc;}
.tab-container .header li{list-style:none;float:left;border:1px solid #ccc;margin:1px 1px 0;border-bottom:none;}
.tab-container .header a{text-align:center;text-decoration:none;padding:2px 5px;cursor:pointer;color:black;vertical-align:middle;float:left;height:20px;_height:24px;line-height:20px;background:#e6e6e6;overflow:hidden;position:relative;margin-bottom:-1px;border-bottom:1px solid #ccc;}
//.tab-container .header .current{border:1px solid purple;border-bottom:none;}
.tab-container .header .current a{background:white;border-bottom-color:white;}
.tab-container .header a:hover{background:#f3f3f3;}
.tab-container .header span{/*display:inline-block;*display:inline;*zoom:1;*/float:left;}
.tab-container .header .title{white-space:nowrap;/*width:50px;*/overflow:hidden;text-overflow:ellipsis;}
.tab-container .header .closer{font:12px/12px 宋体;margin:4px 0 0 3px;line-height:13px;vertical-align:top;*vertical-align:baseline;width:12px;height:11px;text-align:center;}
.tab-container .header .closer:hover{background:#ccc;}
.tab-container .panel{display:none;overflow:auto;border-top:1px solid #ccc;}
