@charset "UTF-8";
.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

.imgc:before, .imgc .iecp, .imgc img, audio, canvas, video, .datagrid-container .view, .datagrid-container .sort-mark { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imge { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { max-width: 100%; max-height: 100%; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

.datagrid-container { font-size: 0; line-height: 0; overflow: hidden; }

.datagrid-container .view-wrapper { position: relative; }

.datagrid-container .view { vertical-align: top; font-size: 14px; font-size: 1rem; line-height: normal; }

.datagrid-container .head-wrapper { overflow: hidden; }

.datagrid-container .body-wrapper { /*height:320px;*height:250px;*/ overflow: auto; }

.datagrid-container table, .datagrid-container td { border: 1px solid #ccc; }

.datagrid-container table { border-collapse: collapse; }

.datagrid-container .body-wrapper table, .datagrid-container .body-wrapper tr:first-child td { border-top: none; }

.datagrid-container .view:last-child table, .datagrid-container .view:last-child td:first-child { border-left: none; }

.datagrid-container .head td:hover, .datagrid-container .body tr:hover { background: #e6e6e6; }

.datagrid-container .cell { padding: 1px 3px; overflow: hidden; line-height: 20px; text-align: center; white-space: nowrap; color: #333; }

.datagrid-container .sort-mark { font-family: "宋体"; color: #b90; }

.datagrid-container .field { cursor: pointer; }

.datagrid-container .autoRowHeight .cell { height: auto; }

.datagrid-container .head .cell { font-family: "MicroSoft Yahei"; color: #000; }
