.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

.imgc:before, .imgc .iecp, .imgc img { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imge { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { max-width: 100%; max-height: 100%; }

html, body { height: 100%; overflow: hidden; -webkit-user-select: none; -moz-user-select: none; user-select: none; font: normal 16px/normal "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",sans-serif; background: linear-gradient(0deg, #3b9739, #ade8aa); filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ade8aa,endColorStr=#3b9739); }

#page, .ctnc { height: 100%; }

@keyframes dropDown { 0% { margin-top: -90%; }
	50% { margin-top: -78%; }
	65% { margin-top: 10%; }
	80% { margin-top: -6%; }
	95% { margin-top: 3%; }
	100% { margin-top: 0; } }

@-webkit-keyframes dropDown { 0% { margin-top: -90%; }
	50% { margin-top: -78%; }
	65% { margin-top: 10%; }
	80% { margin-top: -6%; }
	95% { margin-top: 3%; }
	100% { margin-top: 0; } }

@-moz-keyframes dropDown { 0% { margin-top: -90%; }
	50% { margin-top: -78%; }
	65% { margin-top: 10%; }
	80% { margin-top: -6%; }
	95% { margin-top: 3%; }
	100% { margin-top: 0; } }

@-o-keyframes dropDown { 0% { margin-top: -90%; }
	50% { margin-top: -78%; }
	65% { margin-top: 10%; }
	80% { margin-top: -6%; }
	95% { margin-top: 3%; }
	100% { margin-top: 0; } }

@-ms-keyframes dropDown { 0% { margin-top: -90%; }
	50% { margin-top: -78%; }
	65% { margin-top: 10%; }
	80% { margin-top: -6%; }
	95% { margin-top: 3%; }
	100% { margin-top: 0; } }

.boxc { width: 505px; animation: dropDown 0.5s; }

@media screen and (max-width: 640px) { .boxc { width: 80%; } }

.boxc .contents { -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; background-color: rgba(0, 0, 0, 0.3); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D000000,endColorstr=#4D000000); text-align: center; _background: #22701e; overflow: hidden; padding: 20px; color: white; }

@media screen and (min-width: 0px) { .boxc .contents { filter: none; } }

.boxc .contents h1, .boxc .contents h3 { font-size: 25px; margin-bottom: 10px; text-align: center; font-weight: normal; }

.boxc .contents h3 { font-size: 14px; }

.boxc .contents a { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; width: 133px; height: auto; -webkit-user-select: none; -moz-user-select: none; user-select: none; line-height: auto; text-align: center; background: transparent; border-radius: 3px; cursor: pointer; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; padding: 2px 5px; margin: 5px; _margin: 5px 11px; transition: all 0.3s ease-in 0s; font-size: 14px; border: 1px solid #fff; line-height: 25px; text-decoration: none; color: white; }

.boxc .contents a:hover { background-color: rgba(13, 13, 13, 0); }

.boxc .contents a:active { background-color: transparent; outline: thin dotted; outline-offset: -2px; }

.boxc .contents a:hover { background: white; color: #666; /*transform:rotate(3deg);*/ }
