<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Title</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="author" content="" />
<meta name="revisit-after" content="1 days" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="../../../css/pagination.css?<%- __version__ %>" />
<style type="text/css" media="all">
</style>
</head>
<body>
<div id="page">
    <div class="navi"></div>
    <div class="navi"></div>
    <div class="navi"></div>
</div>
<script id="requirejs" data-version="<%- __version__ %>" src="../../../../public/js/require.js?<%- __version__ %>"></script>
<script>
require.config({
	baseUrl:'../../../../',
	urlArgs:document.getElementById("requirejs").getAttribute("data-version"),
	map:{"*":{css:"require-css"}},
	paths:{
		jquery:'public/js/jquery'
	},
	shim:{
		'ui/js/jquery-pagination':['jquery']
	}
});
require(['jquery', 'ui/js/jquery-pagination'], function($){
	$('#page .navi').pagination({
		useAjax:true,
		pageNumberQueryName:'page',
		pageNumber:20,
		prePageAlias:'&lt;',
		nextPageAlias:'&gt;',
		show:11,
		dataSize:501,
		onChangePage:function(pageNumber, pageCount){
			/* alert('' + pageNumber + ', ' + pageCount); */
		}
	});
	$('#page .navi').eq(0).pagination('update', 1, 0);
});
</script>
</body>
</html>
