<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<title>Share from sfger</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="author" content="sfger" />
<meta name="revisit-after" content="1 days" />
<meta name="keywords" content="sfger blog IT html5 css3 javascript nodejs" />
<meta name="description" content="Sfger的前端分享" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="<%-___%>/css/index.css" />
<base href="/" target="_blank" />
</head>
<body>
<div id="page" class="imgc ctnc">
	<div class="imge boxc">
		<div class="mask"></div>
		<div class="contents">
			<h1>sfger的分享</h1>
			<h3>Share from sfger</h3>
			<div class="linkc">
				<a href="" title="Light UI Demos">Light UI Demos&#187;</a>
				<a href="" title="light CSS Demos">Light CSS Demos&#187;</a>
				<a href="" title="light CSS Demos">Daily Share&#187;</a>
				<a href="<%- dist ? './' : 'html/' %>demos/complex/favi-link.html" title="收藏的链接">收藏的链接&#187;</a>
			</div>
		</div>
	</div>
	<!--[if lt IE 8]><i class="iecp"></i><![endif]-->
</div>
</body>
</html>
