<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='<%- ___ %>/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<div class="imgc">
		<img class="imge" src="http://placehold.it/100x100/0009/fff" alt="">
		<!--[if lt IE 8]><span class="iecp"></span><![endif]--> 
	</div>
  </body>
</html>
