.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

audio, canvas, video, .tree-container .indent, .tree-container .join, .tree-container .hit, .tree-container .file, .tree-container .folder, .tree-container .checkbox, .tree-container .title { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imge { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; _overflow: hidden; _line-height: 0; }

.imgc:before, .imgc .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; max-width: 100%; max-height: 100%; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

.tree-container { width: auto; overflow: auto; background: white; }

.tree-container ul { width: auto; height: auto; _line-height: 0; _font-size: 0; }

.tree-container ul ul { display: none; }

.tree-container ul, .tree-container li { width: auto; vertical-align: middle; list-style: none; }

.tree-container li a { color: black; _font-size: 16px; line-height: normal; text-decoration: none; background: transparent; display: block; white-space: nowrap; }

.tree-container li a:hover, .tree-container li a.hover { background: #e1e1e1; }

.tree-container li a.current { background: #d1d1d1; }

.tree-container .indent, .tree-container .join, .tree-container .hit, .tree-container .file, .tree-container .folder, .tree-container .checkbox, .tree-container .title { cursor: pointer; width: 16px; height: 18px; }

.tree-container .title { width: auto; padding: 0 0 0 2px; }

.tree-container .checkbox { background: url(../img/tree_icons.png) no-repeat scroll -208px -18px; }

.tree-container .checkbox-some { background: url(../img/tree_icons.png) no-repeat scroll -240px -18px; }

.tree-container .checkbox-all { background: url(../img/tree_icons.png) no-repeat scroll -224px -18px; }

.tree-container .indent { background: url(../img/tree_icons.png) no-repeat scroll -176px 0; }

.tree-container .join { background: url(../img/tree_icons.png) no-repeat scroll -192px 0; }

.tree-container .hit { background: url(../img/tree_icons.png) no-repeat scroll -128px 0; }

.tree-container .folder { background: url(../img/tree_icons.png) no-repeat scroll -208px 0; }

.tree-container .hit-open { background: url(../img/tree_icons.png) no-repeat scroll -144px 0; }

.tree-container .file { background: url(../img/tree_icons.png) no-repeat scroll -240px 0; }

.tree-draging-proxy { display: none; position: absolute; padding: 2px 8px; border: 1px solid #ccc; background: #eee; border-radius: 3px; }
