<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Title</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="author" content="" />
<meta name="revisit-after" content="1 days" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="icon" href="../../../../favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="../../../../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../../../css/button.css?<%- __version__ %>">
</head>
<body>
<div id="page">
    <a style="font-size:10px;" id="btn" class="btn" href="javascript:;">Button</a>
	<input style="font-size:10px;" type="button" class="btn" value="Button">
	<input style="font-size:10px;" type="button" class="btn btn-green" value="Button">
	<br />
    <a id="btn" class="btn" href="javascript:;">Button</a>
	<input type="button" class="btn" value="Button">
	<input type="button" class="btn btn-green" value="Button">
	<br />
    <a style="font-size:24px;" id="btn" class="btn" href="javascript:;">Button</a>
	<input style="font-size:24px;" type="button" class="btn" value="Button">
	<input style="font-size:24px;" type="button" class="btn btn-green" value="Button">
	<br />
</div><!-- #page end! -->
</body>
</html>
