<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Title</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="author" content="" />
<meta name="revisit-after" content="1 days" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<style type="text/css" media="all">
*{padding:0;margin:0;}
.drag-container{cursor:move;display:inline-block;*zoom:1;text-decoration:none;}
.drop{width:300px;height:200px;background:#ff0000;padding:5px;border:2px solid #000;}
#item{width:100px;height:100px;background:#ffff00;padding:5px;border:1px dashed #000;text-decoration:none;}
</style>
</head>
<body>
<div id="page">
    <div id="drop" class="drop"></div>
    <div id="item">
        <a href="http://www.baidu.com" target="_blank">Test</a>
    </div>
</div>
<script type="text/javascript" src="../../../js/base.js?<%- __version__ %>"></script>
<script type="text/javascript">
var Event = light.Event;
Event.on('load', window, function(e){
    var target = document.getElementById('drop');
    var item = document.getElementById('item');
    var container = null;

    var fie = navigator.userAgent.match(/MSIE (\d*)/);
    if(fie && fie[1]<=10){
        container = document.createElement('a');
        container.href = '###';
    }else{
        container = document.createElement('div');
    }
    container.draggable = true;
    container.className = 'drag-container';
    item.parentNode.insertBefore(container, item);
    container.appendChild(item);
    Event.on('dragenter', target, function(e){
        Event.stop(e);
    });
    Event.on('dragover', target, function(e){
        Event.prevent(e);
        e.dataTransfer.dropEffect = 'copy';
    });
    Event.on('drop', target, function(e){
        Event.stop(e);
        Event.prevent(e);
        e.dataTransfer.dropEffect = 'copy';
        var id = e.dataTransfer.getData('Text');
        var item = document.getElementById(id);
        target.appendChild(item.parentNode);
    });
    Event.on('dragend', item.parentNode, function(e){
        if(item.proxy){
            item.proxy.parentNode.removeChild(item.proxy);
            item.proxy = null;
            item.dragPosition = null;
        }
    });
    Event.on('dragstart', item.parentNode, function(e){
        if(/MSIE/.test(navigator.userAgent)){
            item.dragPosition = {
                x:item.offsetLeft - e.clientX,
                y:item.offsetTop - e.clientY
            };
        }
        e.dataTransfer.effectAllowed = 'copy'
		if(e.dataTransfer.setDragImage) e.dataTransfer.setDragImage(e.target, 0, e.target.offsetHeight/2);
        e.dataTransfer.setData('Text', item.id)
    });
    Event.on('drag', item.parentNode, function(e){
        if(item.dragPosition){
            if(!item.proxy){
                var proxy = item.parentNode.cloneNode(true);
                document.body.appendChild(proxy);
                proxy.style.cssText = 'filter:alpha(opacity=70);position:absolute;border:1px dashed yellow;';
                item.proxy = proxy;
            }
            // item.proxy.style.left = e.clientX + item.dragPosition.x;
            // item.proxy.style.top = e.clientY + item.dragPosition.y;
            item.proxy.style.left = e.clientX + 1;
            item.proxy.style.top = e.clientY - e.srcElement.offsetHeight/2;
        }
    });
});
</script>
</body>
</html>
