<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Title</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="author" content="" />
<meta name="revisit-after" content="1 days" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="../../../css/pagination.css?<%- __version__ %>" />
<style type="text/css" media="all">
</style>
</head>
<body>
<div id="page">
    <div class="navi"></div>
    <div class="navi"></div>
    <div class="navi"></div>
</div>
<script type="text/javascript" src="../../../js/jquery.js?<%- __version__ %>"></script>
<script type="text/javascript" src="../../../js/pagination.js?<%- __version__ %>"></script>
<script>
var a = function(){
	pagination({
		useAjax:true,
		pageNumber:20,
		renders:document.getElementById('page').children,
		dataSize:501,
		onChangePage:function(pageNumber, pageCount){
			//alert(pageNumber);
		}
	});
};
$(function(){
	a();
});
</script>
</body>
</html>
