.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

audio, canvas, video, .imgc:before, .imgc .iecp, .imgc img, .imge, .ib, .img-ctn:before, .img-ctn .iecp, .img-ctn img, .ib-row:before, .ib-row .iecp, .ib-col, .ib-col-full, .txt-jt:after, .txt-jt .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*::before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #666; }

a, button, input select, textarea { font: inherit; color: inherit; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { max-width: 100%; max-height: 100%; }

.imge { vertical-align: middle; font-size: 14px; font-size: 1rem; line-height: normal; }

.badge { border-radius: 50%; overflow: hidden; }

.img-ctn { font-size: 0; text-align: center; }

.img-ctn:before, .img-ctn .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-ctn img { max-width: 100%; max-height: 100%; }

.flex-img-ctn { position: relative; left: auto; left: auto; left: auto; left: auto; }

.flex-img-ctn > img, .flex-img-ctn .img-ctn { position: absolute; left: auto; top: 0; left: auto; left: auto; left: auto; left: 0; width: 100%; }

.flex-img-ctn .img-ctn { height: 100%; }

.ib-row { font-size: 0; text-align: left; }

.ib-row:before, .ib-row .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { vertical-align: top; font-size: 14px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left !important; }

.txt-rt { text-align: right !important; }

.txt-ct { text-align: center !important; }

.txt-jt { text-align: justify !important; }

.txt-jt.ie-pure-txt { text-justify: distribute-all-lines !important; }

.txt-jt:after { content: ''; }

.txt-jt:after, .txt-jt .iecp { width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.txt-clean * { text-align: left !important; float: none !important; vertical-align: baseline !important; background: transparent !important; text-decoration: none !important; font-size: 14px !important; font-size: inherit !important; border: none !important; box-shadow: none !important; display: inline !important; margin: 0 !important; padding: 0 !important; height: auto !important; width: auto !important; font-weight: normal !important; font-weight: inherit !important; line-height: normal !important; line-height: inherit !important; color: #666 !important; color: inherit !important; }

.txt-clean *:empty { display: none; }

.txt-clean *:before { content: normal; }

.txt-clean *:after { content: normal; }

.txt-clean, .txt-clean * { word-break: break-all !important; word-wrap: break-word !important; }

.txt-clean a, .txt-clean button, .txt-clean input { pointer-events: none !important; }

.txt-clean br, .txt-clean img { display: none !important; }

.vt-top { vertical-align: top !important; }

.vt-mid { vertical-align: middle !important; }

.vt-btm { vertical-align: bottom !important; }

.vt-bsl { vertical-align: baseline !important; }

.grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; width: 100%; }

@media \0screen { .grid { display: table; }
	.grid.layout-auto { table-layout: auto; }
	.grid.layout-fixed { table-layout: fixed; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid { display: table; }
	.grid.layout-auto { table-layout: auto; }
	.grid.layout-fixed { table-layout: fixed; } }

.grid.inline-grid { display: -webkit-inline-box; display: -webkit-inline-flex; display: -moz-inline-flex; display: -ms-inline-flexbox; display: inline-flex; width: auto; }

@media \0screen { .grid.inline-grid { display: inline-table; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid.inline-grid { display: inline-table; } }

.grid.grid-column { display: block; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }

.grid.grid-column > .col, .grid.grid-column > .col-reset { display: block; }

.grid.grid-column > .col-reset { height: 100%; }

.grid.inline-grid { display: -webkit-inline-box; display: -webkit-inline-flex; display: -moz-inline-flex; display: -ms-inline-flexbox; display: inline-flex; width: auto; }

@media \0screen { .grid.inline-grid { display: inline-table; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid.inline-grid { display: inline-table; } }

.grid.vt-top { -webkit-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; -moz-align-items: flex-start; align-items: flex-start; }

.grid.vt-top .col, .grid.vt-top .col-rest { vertical-align: top; }

.grid.vt-btm { -webkit-box-align: end; -ms-flex-align: end; -webkit-align-items: flex-end; -moz-align-items: flex-end; align-items: flex-end; }

.grid.vt-btm .col, .grid.vt-btm .col-rest { vertical-align: bottom; }

.grid.vt-mid { -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; }

.grid.vt-mid .col, .grid.vt-mid .col-rest { vertical-align: middle; }

.grid.vt-bsl { -webkit-box-align: baseline; -ms-flex-align: baseline; -webkit-align-items: baseline; -moz-align-items: baseline; align-items: baseline; }

.grid.vt-bsl .col, .grid.vt-bsl .col-rest { vertical-align: baseline; }

.grid .col { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -moz-box-flex: 0; -moz-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; }

@media \0screen { .grid .col { display: table-cell; vertical-align: top; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid .col { display: table-cell; vertical-align: top; } }

_:-ms-lang(x), .grid .col { display: inline-block\9; }

.grid .col-rest { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -moz-box-flex: 1; -moz-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; width: 100%; }

@media \0screen { .grid .col-rest { display: table-cell; vertical-align: top; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid .col-rest { display: table-cell; vertical-align: top; } }

_:-ms-lang(x), .grid .col-rest { display: inline-block\9; }
