*{padding:0;margin:0;}
html, body{overflow:hidden;}
.cf:before, .cf:after{content:"";display:table;}
.cf:after{clear:both;overflow:hidden;}
.cf{*zoom:1;}
.layout-middle-container{height:200px;}
.layout-middle-container .layout-west, .layout-middle-container .bar-west{float:left;}
.layout-middle-container .layout-east, .layout-middle-container .bar-east{float:right;}
.layout-west, .layout-east, .layout-center{overflow:auto;}
.resize-bar{background:#cecece;overflow:hidden;/*cursor:n-resize;*/text-align:center;}
.bar-west, .bar-east{cursor:e-resize;}
.layout-middle-container>div{height:100%;}
.resize-bar span{background:#333;height:100%;width:21px;display:block;overflow:hidden;margin:auto;cursor:pointer;}
.bar-west span, .bar-east span{width:100%;height:21px;}
.layout-south{height:20px;}
.layout-north{height:25px;}
.layout-west{width:210px;}

.tree-container {width:auto;overflow:auto;background:white;}
.tree-container ul {width:auto;height:auto;_line-height:0;_font-size:0;}
.tree-container ul, .tree-container li{width:auto;vertical-align:middle;list-style:none;}
.tree-container ul ul{display:none;}
.tree-container li a{color:black;font-size:16px;line-height:16px;text-decoration:none;background:transparent;display:block;white-space:nowrap;}
.tree-container li a:hover, .tree-container li a.hover{background:#e1e1e1;}
.tree-container li a.current{background:#d1d1d1;}
.tree-container .indent, .tree-container .join, .tree-container .hit, .tree-container .file, .tree-container .folder, .tree-container .checkbox, .tree-container .title{cursor:pointer;display:inline-block;*display:inline;*zoom:1;width:16px;height:18px;line-height:18px;vertical-align:middle;overflow:hidden;}
.tree-container .title{width:auto;padding:0 0 0 2px;}
.tree-container .checkbox{background:url("/img/tree_icons.png") no-repeat scroll -208px -18px;}
.tree-container .checkbox-some{background:url("/img/tree_icons.png") no-repeat scroll -240px -18px;}
.tree-container .checkbox-all{background:url("/img/tree_icons.png") no-repeat scroll -224px -18px;}
.tree-container .indent{background:url("/img/tree_icons.png") no-repeat scroll -176px 0;}
.tree-container .join{background:url("/img/tree_icons.png") no-repeat scroll -192px 0;}
.tree-container .hit{background:url("/img/tree_icons.png") no-repeat scroll -128px 0;}
.tree-container .folder{background:url("/img/tree_icons.png") no-repeat scroll -208px 0;}
.tree-container .hit-open{background:url("/img/tree_icons.png") no-repeat scroll -144px 0;}
.tree-container .file{background:url("/img/tree_icons.png") no-repeat scroll -240px 0;}
.tree-draging-proxy{display:none;position:absolute;padding:2px 8px;border:1px solid #ccc;background:#eee;border-radius:3px;}

.tab-container .header li{list-style:none;float:left;border:1px solid #ccc;margin:1px 1px 0;border-bottom:none;}
.tab-container .header a{text-align:center;text-decoration:none;padding:2px 5px;cursor:pointer;color:black;vertical-align:middle;float:left;height:20px;_height:24px;line-height:20px;background:#e6e6e6;overflow:hidden;position:relative;margin-bottom:-1px;border-bottom:1px solid #ccc;}
.tab-container .header .current a{background:white;border-bottom-color:white;}
.tab-container .header a:hover{background:#f3f3f3;}
.tab-container .header span{float:left;}
.tab-container .header .title{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.tab-container .header .closer{font:12px/12px 宋体;margin:4px 0 0 3px;line-height:13px;vertical-align:top;*vertical-align:baseline;width:12px;height:11px;text-align:center;}
.tab-container .header .closer:hover{background:#ccc;}
.tab-container .panel{display:none;overflow:auto;border-top:1px solid #ccc;}
.tab-container .tab-content{height:100%;overflow:auto;}

.top{font-size:16px;color:purple;}
.left-menu{height:100%;}
.bottom{text-align:center;}
