<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<title>Share from water</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="author" content="water" />
<meta name="revisit-after" content="1 days" />
<meta name="keywords" content="sfger blog IT html5 css3 javascript js nodejs php cpp java" />
<meta name="description" content="Share from water" />
<link rel="icon" href="./favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="./sfger/css/index.css?<%-__version__%>" />
<!--
<base href="/" target="_blank" />
-->
</head>
<body>
<div id="page">
	<div class="imgc ctnc">
		<div class="imge boxc">
			<div class="contents">
				<h1>Share from water</h1>
				<p class="linkc">
				<a href="">CSS&#187;</a>
				<a href="">UI&#187;</a>
				<a href="">Article&#187;</a>
				<a href="./sfger/html/demos/complex/seaShell.html">Link&#187;</a>
				</p>
			</div>
		</div>
		<!--[if lt IE 8]><p class="iecp"></p><![endif]-->
	</div>
</div>
<script id="requirejs" data-main="./sfger/js/index.js?<%-__version__%>" data-version="<%-__version__%>" src="./sfger/js/require.js?<%-__version__%>"></script>
</body>
</html>
