<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Title</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="author" content="" />
<meta name="revisit-after" content="1 days" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="../../../../public/css/base.css?<%- __version__ %>" />
<style type="text/css" media="all">
#page{display:table;width:100%;}
.grid>div{height:300px;}
.grid .col,.grid .col>.grid-iecp{width:200px;}
.col-auto{background:#999;color:white;}
</style>
</head>
<body>
<div id="page">
	<div class="grid">
		<div class="col">
			<!--[if lte IE 9]><p class="grid-iecp"></p><![endif]-->
			test
		</div>
		<div class="col">
			<!--[if lte IE 9]><p class="grid-iecp"></p><![endif]-->
			test
		</div>
		<div class="col-auto">list</div>
	</div>
</div>
</body>
</html>
