<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="author" content="" />
<meta name="revisit-after" content="1 days" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="icon" href="../../../../favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="../../../../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../../../../public/css/base.css?<%- __version__ %>" />
</head>
<body>
<div id="page" style="width:100%;margin:auto;">
	<div class="test1 txt-justify ie-pure-txt">测试文字</div>
	<div class="test2 txt-justify ie-pure-txt">测试文字测试文字</div>
	<div class="test3 txt-justify ie-pure-txt">测试文字测试文字测试文字</div>
	<div class="test4 txt-justify">
		<i class="i">测试</i>
		<i class="i">文字</i>
		<i class="i">测试</i>
		<i class="i">文字</i>
		<i class="i">测试</i>
		<i class="i">文字</i>
		<i class="i">测试</i>
		<i class="i">文字</i>
		<!--[if lt IE 8]><p class="iecp"></p><![endif]-->
	</div>
	<div class="test4 txt-justify">
		<i class="i">测</i>
		<i class="i">试</i>
		<i class="i">文</i>
		<i class="i">字</i>
		<i class="i">测</i>
		<i class="i">试</i>
		<i class="i">文</i>
		<i class="i">字</i>
		<!--[if lt IE 8]><p class="iecp"></p><![endif]-->
	</div>
</div>
</body>
</html>
