@charset "utf-8";
@import 'parts/fn';
@import 'parts/layout';
@import 'highlight';
html{
	font:normal 16px/normal "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",sans-serif;
	&,body{padding:0;margin:0;}
	&.full-screen{
		&,body{height:100%;overflow:hidden;}
		background:#ade8aa;background:linear-gradient(0deg, #3b9739, #ade8aa);
		filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ade8aa,endColorStr=#3b9739);
		_background:#ade8aa;
		#page,.home-page{height:100%;}
	}
}
@include keyframes(dropDown){
	0%{transform:translateY(-490%);}
	50%{transform:translateY(-248%);}
	65%{transform:translateY(60%);}
	80%{transform:translateY(-32%);}
	95%{transform:translateY(18%);}
	100%{transform:translateY(0);}
}
.navi-box{
	width:505px;animation:dropDown 0.5s;
	@media screen and (max-width:640px){width:80%;}
	@include border-radius(8px);@include background-color-rgba(#000,0.3);
	text-align:center;_background:darken(#ade8aa,51%);
	overflow:hidden;padding:20px;color:white;
	h1,h3{font-size:25px;margin-bottom:10px;text-align:center;font-weight:normal;}
	h3{font-size:16px;}
	a{
		box-sizing:border-box;
		@include ib;@include button(133px,32px,transparent,1px solid #fff);
		margin:5px;_margin:5px 11px;
		transition:background,color 0.314s ease-in 0s;
		font-size:16px;text-decoration:none;color:white;
		&:hover{background:white;color:#666;/*transform:rotate(3deg);*/}
	}
}
.wrap{
	width:980px;margin:auto;
	@media screen and (max-width:640px){width:auto;}
}
.article-page{
	// @media screen and (max-width:640px){width:auto;}
	.md-ctn{
		padding:4px;background:#feffef;
		table{margin:8px 0;table-layout:fixed;border-collapse:collapse;border:1px black #666;}
		th,td{padding:2px 4px;border:1px #666 solid;word-break:break-all;word-wrap:break-word;}
		sub,sup{font-size:10px;}
		p{text-indent:32px;text-indent:2rem;}
		h1,h2,h3,h4,h5,h6,{line-height:1.2;font-family:SimHei;}
		h1{margin:1.024em;text-align:center;}
		h2,h3,h4,h5,h6{
			margin:2em 0 1em 0;
			@include relative;text-indent:12px;
			&:before{
				content:'';display:block;@include size(4px,100%);@include absolute(left 0);
				background:#333;
			}
		}
		h1{font-size:22px;}
		h2{font-size:20px;}
		h3{font-size:18px;}
		h4{font-size:16px;}
		h5{font-size:14px;}
		h6{font-size:12px;}
		pre{margin:0;}
		p{padding:15px;background:#eaeaea;border-left:4px solid #333;margin:1em 0;}
	}
}
.article-bar{
	padding:16px;background:#3b9739;
	a{margin-right:4px;color:white;font:14px "Microsoft YaHei";}
}
