.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

.imgc:before, .imgc img, audio, canvas, video { display: inline-block; vertical-align: middle; }

.imge { display: inline-block; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { max-width: 100%; max-height: 100%; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

html, body { height: 100%; overflow: hidden; font: normal 16px/normal "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",sans-serif; -webkit-user-select: none; -moz-user-select: none; user-select: none; }

.ctnc { height: 100%; background: linear-gradient(0deg, #3b9739, #ade8aa); filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ade8aa,endColorStr=#3b9739); }

@keyframes dropDown { 0% { margin-top: -100%; }
	50% { margin-top: -80%; }
	65% { margin-top: 10%; }
	80% { margin-top: -6%; }
	95% { margin-top: 3%; }
	100% { margin-top: 0; } }

@-webkit-keyframes dropDown { 0% { margin-top: -100%; }
	50% { margin-top: -80%; }
	65% { margin-top: 10%; }
	80% { margin-top: -6%; }
	95% { margin-top: 3%; }
	100% { margin-top: 0; } }

@-moz-keyframes dropDown { 0% { margin-top: -100%; }
	50% { margin-top: -80%; }
	65% { margin-top: 10%; }
	80% { margin-top: -6%; }
	95% { margin-top: 3%; }
	100% { margin-top: 0; } }

@-o-keyframes dropDown { 0% { margin-top: -100%; }
	50% { margin-top: -80%; }
	65% { margin-top: 10%; }
	80% { margin-top: -6%; }
	95% { margin-top: 3%; }
	100% { margin-top: 0; } }

@-ms-keyframes dropDown { 0% { margin-top: -100%; }
	50% { margin-top: -80%; }
	65% { margin-top: 10%; }
	80% { margin-top: -6%; }
	95% { margin-top: 3%; }
	100% { margin-top: 0; } }

.boxc { animation: dropDown 1.1s; }

.boxc .contents { -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; background-color: rgba(0, 0, 0, 0.3); position: relative; z-index: 2; max-width: 455px; *width: 455px; overflow: hidden; padding: 20px; text-align: left; color: white; }

.boxc .contents h1, .boxc .contents h3 { font-size: 25px; margin-bottom: 10px; text-align: center; font-weight: normal; }

.boxc .contents h3 { font-size: 14px; }

.boxc .contents .linkc { width: 470px; }

.boxc .contents a { display: inline-block; vertical-align: middle; width: 133px; height: auto; -webkit-user-select: none; -moz-user-select: none; user-select: none; line-height: auto; text-align: center; background: transparent; border-radius: 3px; cursor: pointer; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; padding: 2px 5px; margin: 5px 10px 5px 0; transition: all 0.3s ease-in 0s; font-size: 14px; border: 1px solid #fff; line-height: 25px; text-decoration: none; color: white; }

.boxc .contents a:hover { background-color: rgba(13, 13, 13, 0); }

.boxc .contents a:active { background-color: transparent; outline: thin dotted; outline-offset: -2px; }

.boxc .contents a:hover { background: white; color: #666; /*transform:rotate(3deg);*/ }
