.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imge { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; max-width: 100%; max-height: 100%; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

.tab-ctn .tab-header { font-size: 0; text-align: center; text-align: left; }

.tab-ctn .tab-header:before, .tab-ctn .tab-header .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.tab-ctn .tab-header:before, .tab-ctn .tab-header .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.tab-ctn .tab-header li { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.tab-ctn .tab-header li { bottom: -1px; position: relative; margin: -1px 1px 0 1px; border: 1px solid #ccc; border-bottom: none; list-style: none; vertical-align: baseline; }

.tab-ctn .tab-header li.current a { background: white; border-bottom-color: white; }

.tab-ctn .tab-header a { -webkit-user-select: none; -moz-user-select: none; user-select: none; font-size: 0; text-align: center; padding: 1px 5px; display: block; border-bottom: 1px solid #ccc; line-height: 20px; background: #e6e6e6; color: black; text-decoration: none; cursor: pointer; }

.tab-ctn .tab-header a:before, .tab-ctn .tab-header a .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.tab-ctn .tab-header a:before, .tab-ctn .tab-header a .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.tab-ctn .tab-header a span { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.tab-ctn .tab-header a:hover { background: #f3f3f3; }

.tab-ctn .tab-header .icon { width: 16px; height: 16px; }

.tab-ctn .tab-header .title { margin: 0 3px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.tab-ctn .tab-header .closer { width: 16px; height: 16px; font: bold 16px/1.234 SimSun; border-radius: 2px; }

.tab-ctn .tab-header .closer:hover { background: #ccc; }

.tab-ctn .tab-content { height: 100%; }

.tab-ctn .tab-panel { overflow: auto; border-top: 1px solid #ccc; }

.tab-ctn .tab-panel .itab { display: none; top: 0; left: 0; position: relative; }

.tab-ctn .tab-panel .show { display: block; }
