@charset "utf-8"; //解决中文报错

//inline-block
%ib{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;*vertical-align:auto;}

//单行溢出省略
%sln{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

//webkit多行溢出省略
%mln{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
