@charset "utf-8";
.tab-ctn{
	.tab-header{
		li{list-style:none;@include ib;border:1px solid #ccc;margin:1px 1px 0;border-bottom:none;}
		a{
			@include user-select(none);@include imgc(0,span);
			padding:0 5px;display:block;//height:20px;_height:auto;
			line-height:20px;
			position:relative;margin-bottom:-1px;border-bottom:1px solid #ccc;overflow:hidden;
			background:#e6e6e6;color:black;text-align:center;text-decoration:none;cursor:pointer;
			&:hover{background:#f3f3f3;}
		}
		.current a{background:white;border-bottom-color:white;}
		// span{background:red;}
		.icon{width:16px;height:16px;margin-top:-1px;}
		.title{margin:0 3px;@include sln;}
		.closer{
			padding:3px;font:bold 16px/1 "Microsoft YaHei";border-radius:2px;*line-height:1.354;
			&:hover{background:#ccc;}
		}
	}
	.tab-content{height:100%;}
	.tab-panel{
		overflow:auto;border-top:1px solid #ccc;
		.itab{display:none;position:absolute;position:relative;top:0;left:0;}
		.show{display:block;}
	}
}
