@charset "utf-8";
.window-ctn{
	@include imgc;@include fixed(top 0 left 0);_position:absolute;z-index:50;
	@include background-color-rgba(#565656, 0.72);
	@include size(100%);display:none;text-align:center;
	.window-wrapper{
		@include imge;position:relative;z-index:52;margin-bottom:5%;
		overflow:visible;background:white;text-align:left;
	}
	.window-bar{background:#b6b6b6;padding:2px 0;}
	.window-header{@include imgc;overflow:visible;text-align:left;@include user-select(none);*zoom:0;}
	.window-title{@include imge;margin:5px 0;text-indent:5px;}
	.window-closer{
		@include absolute(right 7px top 7px);@include size(16px);
		border:none;color:black;text-decoration:none;
		font:bold 16px/normal "宋体","Microsoft YaHei";
		@include prefix((transition:all 0.5s ease-out 0s));
		&:hover{@include prefix((transform:rotate(360deg)));}
	}
	// .window-contents{}
	.window-view{overflow:auto;overflow-x:hidden;}
	.window-footer{text-align:right;overflow:visible;*zoom:0;}
}
