@charset "utf-8";
html,body{overflow:hidden;}
.layout-middle-container{
	.resize-bar,.layout-west,.layout-center,.layout-east{height:100%;}
	.layout-west,.bar-west{float:left;}
	.layout-east,.bar-east{float:right;}
}
.layout-west,.layout-east,.layout-center{overflow:auto;_float:left;}
.resize-bar{
	background:#cecece;overflow:hidden;cursor:n-resize;text-align:center;
	.imge{background:#333;height:100%;width:20px;overflow:hidden;margin:auto;cursor:pointer;}
}
.bar-west,.bar-east{
	cursor:e-resize;
	.imge{width:100%;height:20px;}
}
.layout-south,.layout-north{height:25px;}
.layout-west,.layout-east{width:180px;}
