@charset "utf-8";
.pagination-ctn{
	padding:1px;vertical-align:middle;
	.pc,a,.form,.desc{@extend %ib;}
	.pn,.current{padding:2px 8px;border:1px solid #d3d3d3;@include border-radius(3px);margin:0 2px;}
	.pn:hover{background:#e3e3e3;}
	a{color:black;text-decoration:none;line-height:normal;cursor:pointer;}
	.plain{border:none;cursor:default;padding:2px;}
	.current{color:red;cursor:default;}
	.disabled{color:#aaa;}
	.form{
		@extend %cf;height:18px;line-height:18px;
		span,input,.go{float:left;height:16px;}
		input{
			@include border-top-left-radius(2px);@include border-bottom-left-radius(2px);
			width:31px;text-align:center;border:1px solid #999;
		}
		.go{
			@include border-bottom-right-radius(2px);@include border-top-right-radius(2px);
			padding:0 4px;margin:0;margin-right:2px;line-height:16px;border:1px solid #e98900;background:#e98900;color:white;margin-top:20px;
		}
	}
	.desc{cursor:default;margin-top:1px;}
}
