@charset "utf-8";
.pagination-container{
	padding:1px;vertical-align:middle;
	.pc,a,.form,.desc{@extend %ib;}
	.pn,.current{padding:2px 8px;border:1px solid #d3d3d3;margin:0 2px;}
	.pn:hover{background:#e3e3e3;}
	a{color:black;text-decoration:none;line-height:normal;cursor:pointer;}
	.plain{border:none;cursor:default;padding:2px;}
	.current{color:red;cursor:default;}
	.disabled{color:#aaa;}
	.form{
		@extend %cf;height:18px;line-height:18px;
		span,input,.go{float:left;height:16px;}
		input{width:31px;text-align:center;border:1px solid #999;}
		.go{border:none;padding:0 4px;margin:0;margin-right:2px;line-height:16px;background:#e98900;border:1px solid #e98900;color:white;}
	}
	.desc{cursor:default;margin-top:1px;}
}
