@charset "utf-8";
.dtp-ctn{
	@include relative;z-index:100;float:left;padding:1px;display:none;
	border:1px solid #ddd;background:white;
	li{list-style:none;}
    .dtp-header{
		height:18px;padding:3px;line-height:18px;background:#888;
        li{
			float:left;width:203px;text-align:center;color:white;font-weight:bold;
			a{color:white;text-decoration:none;@include ib(top);padding:0 2px;}
		}
    }
    .dtp-switcher{
		@include absolute(top 3px);@include button(20px, 20px, #ccc);
        text-decoration:none;color:black;font-size:20px;font-family:SimSun;
    }
    .dtp-prev{left:3px;}
    .dtp-next{right:3px;}
    .dtp-list{
        .dtp-item{
            float:left;width:203px;padding:2px;border-left:1px solid #ddd;
            &.first{border:none;}
        }
        ul{padding:0;margin:auto;}
        .dtp-wh{background:#ececec;}
        li{
			@include button(25px,25px,#ddd);margin:2px;float:left;color:#31e;
            &.day{font-weight:bold;color:#666;}
            &.weekend{color:#f18100;}
            &.disabled{
				color:#999;
				&:hover{background:#ddd;}
			}
            &.selected{background:#4385e0;color:white;}
        }
    }
}
