.cf:before,.cf:after{content:"";display:table;}
.cf:after{clear:both;overflow:hidden;}
.cf{*zoom:1;}
.grid{
	font-size:0;line-height:0;
	.col,.row{font-size:1rem;font-size:14px;line-height:21px;line-height:1.5rem;}
	.col{@extend %ib;}
}
.imgc{
	@extend .grid;text-align:center;overflow:hidden;
	.imge,&:after,.iecp{@extend %ib;vertical-align:middle;}
	.imge{max-width:100%;max-height:100%;}
	&:after,.iecp{content:"";height:100%;font-size:0;line-height:0;width:0;}
}
