@charset "utf-8";
@import "base.scss";
@import "parts/ui-window.scss";

#pay-window{
	.window-wrapper{box-shadow:0 0 3px red;border:5px solid #666;width:auto;height:auto;*width:476px;}
	.window-header{background:white;font-size:27px;line-height:1.3;}
	.window-mask{background-color:white;}
	.window-contents{text-align:center;overflow:hidden;position:relative;}
}
.pay{
	width:470px;overflow:hidden;
	.window-title{font:normal 24px/normal "Microsoft Yahei";color:#fe5d00;margin:38px;}
	.tip{font-size:12px;color:#666;margin:38px 0;}
	.buttons{
		margin-bottom:68px;
		a{height:40px;line-height:40px;color:white;text-decoration:none;padding:0 20px;border-radius:3px;}
		.done{background:#ff5e00;margin-right:20px;}
		.choose{background:#ff9f0f;}
	}
}
