@charset "utf-8";
@import "@scss/base";
.tip{
	@extend %ib;width:100px;margin-top:15px;margin-right:15px;
	word-break:break-all;word-wrap:break-word;
	@include relative(top 10px left 14px);
	line-height:16px;color:#ff8144;
}
.tip0{
	@include toolTip(top, left 13px top -13px, 10px 10px, yellow, red);
}
.tip1{
	@include toolTip(right, right -13px top 13px, 10px 10px);
}
.tip2{
	@include toolTip(bottom, left 13px bottom -13px, 10px 10px);
}
.tip3{
	@include toolTip(left, left -13px top 13px, 10px 10px);
}
