@charset "utf-8";
@import 'parts/fn';
@import 'parts/layout';
html,body{
	height:100%;overflow:hidden;@include user-select(none);
	font:normal 16px/normal "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",sans-serif;
	background:linear-gradient(0deg, #3b9739, #ade8aa);
	filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ade8aa,endColorStr=#3b9739);
}
#page,.ctnc{height:100%;}

@include keyframes(dropDown){
	0%{margin-top:-90%;}
	50%{margin-top:-78%;}
	65%{margin-top:10%;}
	80%{margin-top:-6%;}
	95%{margin-top:3%;}
	100%{margin-top:0;}
}
.boxc{
	width:505px;animation:dropDown 0.5s;
	@media screen and (max-width:640px){width:80%;}
	.contents{
		@include border-radius(8px);@include background-color-rgba(#000,0.3);
		text-align:center;_background:darken(#ade8aa,51%);
		overflow:hidden;padding:20px;color:white;
		h1,h3{font-size:25px;margin-bottom:10px;text-align:center;font-weight:normal;}
		h3{font-size:14px;}
		a{
			@include ib;@include button(133px, auto);@include border-radius(4px);
			padding:2px 5px;margin:5px;_margin:5px 11px;transition:all 0.3s ease-in 0s;
			font-size:14px;border:1px solid #fff;line-height:25px;text-decoration:none;color:white;
			&:hover{background:white;color:#666;/*transform:rotate(3deg);*/}
		}
	}
}
