<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Title</title>
<meta name="renderer" content="webkit">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="author" content="" />
<meta name="revisit-after" content="1 days" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<style type="text/css" media="all">
#page{height:200px;}
</style>
</head>
<body>
<div id="page">
	test<br /> test<br /> test<br />
</div>
<script id="requirejs" type="text/javascript" data-version="<%- __version__ %>" src="/sfger/js/require.js?<%- __version__ %>"></script>
<script type="text/javascript">
require.config({
	baseUrl: '/sfger/js/',
	urlArgs:"v=" + document.getElementById("requirejs").getAttribute("data-version"),
	shim:{
		'jquery-jscroll':['jquery'],
		'browser':['jquery']
	}
});
require(['jquery', 'jquery-jscroll', 'browser'], function($){
	$('#page').html('test<br> test<br> test<br>test<br> test<br> test<br>test<br> test<br> test<br>test<br> test<br> test<br>test<br> test<br> test<br>test<br> test<br> test<br>test<br> test<br> test<br>test<br> test<br> test<br>test<br> test<br> test<br>test<br> test<br> test<br>test<br> test<br> test<br>test<br> test<br> test<br>test<br> test<br> test<br>test<br> test<br> test<br>test<br> test<br> test<br>');
	$('#page').jscroll({
		W : "8px",
		BgUrl : "", //设置滚动条背景图片地址
		Bg : "", //设置滚动条背景图片position,颜色等
		Bar : {
			Bd : { Out : "", Hover : "" },
			Bg : {
				Out : "no-repeat #BABABA",
				Hover : "no-repeat #BABABA",
				Focus : "no-repeat #BABABA"
			}
		},
		Btn : { btn : false }
	});
});
</script>
</body>
</html>
