.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

.imgc:before, .imgc .iecp, .imgc img, audio, canvas, video, .btn, .btn-normal { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imge { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { max-width: 100%; max-height: 100%; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

.btn, .btn-normal { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; width: auto; padding: 4px 9px; margin: 0 3px; border: 1px solid #333; line-height: 1.1; overflow: visible; color: #010101; background: none; text-decoration: none; cursor: pointer; }

.btn:focus, .btn-normal:focus { outline: thin dotted; outline-offset: -2px; }

input.btn, button.btn { *line-height: 0.8; }

.btn-green { background-color: green; color: white; }

.btn-green:hover { background: #009a00; }

.btn-green:active { background: #006700; }
