@charset "UTF-8";
.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

audio, canvas, video, .ib, .datagrid-ctn .field-title { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imge { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; max-width: 100%; max-height: 100%; }

@keyframes radioOut { 0% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		/*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		/*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ } }

@-webkit-keyframes radioOut { 0% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		/*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		/*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ } }

@-moz-keyframes radioOut { 0% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		/*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		/*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ } }

@-o-keyframes radioOut { 0% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		/*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		/*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ } }

@-ms-keyframes radioOut { 0% { -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); /*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); /*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2); -moz-transform: scale(2); -ms-transform: scale(2); -o-transform: scale(2); transform: scale(2); /*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); /*@include opacity(0);*/ } }

* { box-sizing: border-box; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

.img-tight { font-size: 0; text-align: center; }

.img-tight:before, .img-tight .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.img-tight:before, .img-tight .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-tight img { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib-row { font-size: 0; }

.ib-row:before, .ib-row .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.ib-row:before, .ib-row .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { display: inline-block; *display: inline; *zoom: 1; vertical-align: top; font-size: 12px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left; }

.txt-rt { text-align: right; }

.txt-ct { text-align: center; }

.txt-justify { text-align: justify; }

.txt-justify.ie-pure-txt { text-justify: distribute-all-lines; }

.txt-justify:after { content: ''; }

.txt-justify:after, .txt-justify .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.txt-justify .i { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-style: normal; }

.vt-top { vertical-align: top; }

.vt-mid { vertical-align: middle; }

.vt-btm { vertical-align: bottom; }

.datagrid-ctn { font-size: 0; line-height: 0; overflow: hidden; }

.datagrid-ctn .col-view { display: inline-block; *display: inline; *zoom: 1; vertical-align: top; }

.datagrid-ctn .view-wrapper { position: relative; display: table; }

@media screen and (min-width: 0px) { .datagrid-ctn .view-wrapper { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; } }

.datagrid-ctn .frozen-view { display: table-cell; }

.datagrid-ctn .auto-view { overflow: auto; *width: 0px; }

@media screen and (min-width: 0px) { .datagrid-ctn .auto-view { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -moz-box-flex: 1; -moz-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; } }

.datagrid-ctn .head-wrapper { overflow: hidden; }

.datagrid-ctn .body-wrapper { /*height:320px;*height:250px;*/ overflow: auto; }

.datagrid-ctn table { border-collapse: collapse; }

.datagrid-ctn table, .datagrid-ctn table td { border: 1px solid #ccc; }

.datagrid-ctn table .cell-wrapper { padding: 2px 5px; }

.datagrid-ctn .body-wrapper table, .datagrid-ctn .body-wrapper tr:first-child td { border-top: none; }

.datagrid-ctn .body-wrapper tr:nth-child(even) { background: #ffe; }

.datagrid-ctn .auto-view table, .datagrid-ctn .auto-view td:first-child { border-left: none; }

.datagrid-ctn .head td:hover, .datagrid-ctn .body tr:hover { background: #e6e6e6; }

.datagrid-ctn .cell { overflow: hidden; line-height: 20px; text-align: center; white-space: nowrap; color: #333; }

.datagrid-ctn .cell.txt-rt { text-align: right; }

.datagrid-ctn .cell.txt-lt { text-align: left; }

.datagrid-ctn .field-title { margin-left: 12px; }

.datagrid-ctn .cell { height: 100%; }

.datagrid-ctn .sortable { cursor: pointer; background: #f3f3f3; }

.datagrid-ctn .sortable:hover { background: #e6e6e6; }

.datagrid-ctn .sort-mark { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; width: 12px; text-align: center; font-family: SimSun; color: #b90; }

.datagrid-ctn .sort-mark.desc:before { content: "↓"; color: #b90; }

.datagrid-ctn .sort-mark.asc:before { content: "↑"; color: #b90; }

.datagrid-ctn .autoRowHeight .cell { height: auto; }

.datagrid-ctn .head .cell { font-family: "MicroSoft Yahei"; color: #000; }
