@charset "UTF-8";
.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

audio, canvas, video, .imgc:before, .imgc .iecp, .imgc img, .imge, .ib, .img-ctn:before, .img-ctn .iecp, .img-ctn img, .ib-row:before, .ib-row .iecp, .ib-col, .ib-col-full, .txt-jt:after, .txt-jt .iecp, .datagrid-ctn, .datagrid-ctn .field-title, .datagrid-ctn .sort-mark { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.test { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; width: 100%; }

@media \0screen { .test { display: table; }
	.test.layout-auto { table-layout: auto; }
	.test.layout-fixed { table-layout: fixed; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .test { display: table; }
	.test.layout-auto { table-layout: auto; }
	.test.layout-fixed { table-layout: fixed; } }

.test.inline-grid { display: -webkit-inline-box; display: -webkit-inline-flex; display: -moz-inline-flex; display: -ms-inline-flexbox; display: inline-flex; width: auto; }

@media \0screen { .test.inline-grid { display: inline-table; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .test.inline-grid { display: inline-table; } }

.test.grid-column { display: block; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }

.test.grid-column > .col, .test.grid-column > .col-reset { display: block; }

.test.grid-column > .col-reset { height: 100%; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*::before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { vertical-align: middle; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { vertical-align: middle; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { vertical-align: middle; max-width: 100%; max-height: 100%; }

.imge { vertical-align: middle; font-size: 14px; font-size: 1rem; line-height: normal; }

.ib { vertical-align: middle; }

.badge { border-radius: 50%; overflow: hidden; }

.img-ctn { font-size: 0; text-align: center; }

.img-ctn:before, .img-ctn .iecp { vertical-align: middle; }

.img-ctn:before, .img-ctn .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-ctn img { vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib-row { font-size: 0; text-align: left; }

.ib-row:before, .ib-row .iecp { vertical-align: middle; }

.ib-row:before, .ib-row .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { vertical-align: top; font-size: 14px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left; }

.txt-rt { text-align: right; }

.txt-ct { text-align: center; }

.txt-jt { text-align: justify; }

.txt-jt.ie-pure-txt { text-justify: distribute-all-lines; }

.txt-jt:after { content: ''; }

.txt-jt:after, .txt-jt .iecp { vertical-align: middle; width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.vt-top { vertical-align: top; }

.vt-mid { vertical-align: middle; }

.vt-btm { vertical-align: bottom; }

.vt-bsl { vertical-align: baseline; }

.grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; width: 100%; }

@media \0screen { .grid { display: table; }
	.grid.layout-auto { table-layout: auto; }
	.grid.layout-fixed { table-layout: fixed; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid { display: table; }
	.grid.layout-auto { table-layout: auto; }
	.grid.layout-fixed { table-layout: fixed; } }

.grid.inline-grid { display: -webkit-inline-box; display: -webkit-inline-flex; display: -moz-inline-flex; display: -ms-inline-flexbox; display: inline-flex; width: auto; }

@media \0screen { .grid.inline-grid { display: inline-table; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid.inline-grid { display: inline-table; } }

.grid.grid-column { display: block; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }

.grid.grid-column > .col, .grid.grid-column > .col-reset { display: block; }

.grid.grid-column > .col-reset { height: 100%; }

.grid.vt-top { -webkit-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; -moz-align-items: flex-start; align-items: flex-start; }

.grid.vt-top .col, .grid.vt-top .col-rest { vertical-align: top; }

.grid.vt-btm { -webkit-box-align: end; -ms-flex-align: end; -webkit-align-items: flex-end; -moz-align-items: flex-end; align-items: flex-end; }

.grid.vt-btm .col, .grid.vt-btm .col-rest { vertical-align: bottom; }

.grid.vt-mid { -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; }

.grid.vt-mid .col, .grid.vt-mid .col-rest { vertical-align: middle; }

.grid.vt-bsl { -webkit-box-align: baseline; -ms-flex-align: baseline; -webkit-align-items: baseline; -moz-align-items: baseline; align-items: baseline; }

.grid.vt-bsl .col, .grid.vt-bsl .col-rest { vertical-align: baseline; }

.grid .col { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -moz-box-flex: 0; -moz-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; }

@media \0screen { .grid .col { display: table-cell; vertical-align: top; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid .col { display: table-cell; vertical-align: top; } }

_:-ms-lang(x), .grid .col { display: inline-block\9; }

.grid .col-rest { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -moz-box-flex: 1; -moz-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; width: 100%; }

@media \0screen { .grid .col-rest { display: table-cell; vertical-align: top; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid .col-rest { display: table-cell; vertical-align: top; } }

_:-ms-lang(x), .grid .col-rest { display: inline-block\9; }

.datagrid-render-ctn { width: 100%; overflow: hidden; border-bottom: 1px solid #ccc; }

.datagrid-render-ctn.state-loading { position: relative; background-color: rgba(0, 0, 0, 0.692); color: transparent; }

.datagrid-render-ctn.state-loading .view-wrapper { z-index: -1; }

@media \0screen\,screen\9 { .datagrid-render-ctn.state-loading { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B0000000,endColorstr=#B0000000); } }

.datagrid-render-ctn.state-loading:before { content: "正在加载……"; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 5; margin: auto; height: 15px; line-height: 15px; text-align: center; color: white; }

.datagrid-ctn { max-width: 100%; overflow: hidden; vertical-align: middle; }

.datagrid-ctn .view-wrapper { position: relative; *white-space: nowrap; *overflow: hidden; }

.datagrid-ctn .col-view { *display: inline; *zoom: 1; }

.datagrid-ctn .head-wrapper { overflow: hidden; }

.datagrid-ctn table { border-collapse: collapse; }

.datagrid-ctn table, .datagrid-ctn table td { border: 1px solid #ccc; }

.datagrid-ctn table .cell-wrapper { padding: 2px 5px; }

.datagrid-ctn .body-wrapper table, .datagrid-ctn .body-wrapper tr:first-child td { border-top: none; }

.datagrid-ctn .body-wrapper tr:nth-child(even) { background-color: rgba(255, 255, 238, 0.78); }

@media \0screen\,screen\9 { .datagrid-ctn .body-wrapper tr:nth-child(even) { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C7FFFFEE,endColorstr=#C7FFFFEE); } }

.datagrid-ctn .frozen-view .body-wrapper { overflow: hidden; }

.datagrid-ctn .auto-view { *position: absolute; *top: 0; *right: 0; }

.datagrid-ctn .auto-view .body-wrapper { overflow: auto; }

.datagrid-ctn .auto-view.locate-view { overflow: hidden; *width: 0px; position: relative\0; }

@media \0screen { .datagrid-ctn .auto-view.locate-view > div { position: absolute; top: 0; right: 0; bottom: 0; left: 0; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .datagrid-ctn .auto-view.locate-view > div { position: absolute; top: 0; right: 0; bottom: 0; left: 0; } }

.datagrid-ctn .auto-view table, .datagrid-ctn .auto-view td:first-child { border-left: none; }

.datagrid-ctn .head td:hover, .datagrid-ctn .body tr.hover { background-color: rgba(230, 230, 230, 0.78); }

@media \0screen\,screen\9 { .datagrid-ctn .head td:hover, .datagrid-ctn .body tr.hover { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C7E6E6E6,endColorstr=#C7E6E6E6); } }

@media \0screen\,screen\9 { .datagrid-ctn .head td:hover, .datagrid-ctn .body tr.hover { background-color: #e6e6e6; } }

.datagrid-ctn .cell { overflow: hidden; line-height: 20px; text-align: center; white-space: nowrap; color: #333; }

.datagrid-ctn .field-title { margin-left: 12px; }

.datagrid-ctn .cell { height: 100%; }

.datagrid-ctn .sortable { cursor: pointer; background-color: rgba(243, 243, 243, 0.78); }

@media \0screen\,screen\9 { .datagrid-ctn .sortable { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C7F3F3F3,endColorstr=#C7F3F3F3); } }

.datagrid-ctn .sortable:hover { background-color: rgba(230, 230, 230, 0.78); }

@media \0screen\,screen\9 { .datagrid-ctn .sortable:hover { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C7E6E6E6,endColorstr=#C7E6E6E6); } }

.datagrid-ctn .sort-mark { vertical-align: middle; width: 12px; text-align: center; font-family: SimSun; color: #b90; }

.datagrid-ctn .sort-mark.desc:before { content: "↓"; color: #b90; }

.datagrid-ctn .sort-mark.asc:before { content: "↑"; color: #b90; }

.datagrid-ctn .autoRowHeight .cell { height: auto; }

.datagrid-ctn .head .cell { font-family: MicroSoft Yahei; color: #000; }
