@charset "UTF-8";
.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

.imgc:before, .imgc .iecp, .imgc img, audio, canvas, video, .ib, .img-tight:before, .img-tight .iecp, .img-tight img, .ib-row:before, .ib-row .iecp, .datagrid-ctn .field-title { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imge { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { max-width: 100%; max-height: 100%; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

.img-tight { font-size: 0; text-align: center; }

.img-tight:before, .img-tight .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-tight img { max-width: 100%; max-height: 100%; }

.ib-row { font-size: 0; }

.ib-row:before, .ib-row .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .datagrid-ctn .view, .ib-col-full { display: inline-block; *display: inline; *zoom: 1; vertical-align: top; font-size: 12px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .datagrid-ctn .ib-row.view, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left; }

.txt-rt { text-align: right; }

.txt-ct { text-align: center; }

.txt-justify { text-align: justify; }

.txt-justify.ie-pure-txt { text-justify: distribute-all-lines; }

.txt-justify:after { content: ''; }

.txt-justify:after, .txt-justify .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.txt-justify .i { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-style: normal; }

.vt-top { vertical-align: top; }

.vt-mid { vertical-align: middle; }

.vt-btm { vertical-align: bottom; }

.datagrid-ctn { font-size: 0; line-height: 0; overflow: hidden; }

.datagrid-ctn .view-wrapper { position: relative; }

.datagrid-ctn .head-wrapper { overflow: hidden; }

.datagrid-ctn .body-wrapper { /*height:320px;*height:250px;*/ overflow: auto; }

.datagrid-ctn table { border-collapse: collapse; }

.datagrid-ctn table, .datagrid-ctn table td { border: 1px solid #ccc; }

.datagrid-ctn table .cell-wrapper { padding: 2px 5px; }

.datagrid-ctn .body-wrapper table, .datagrid-ctn .body-wrapper tr:first-child td { border-top: none; }

.datagrid-ctn .auto-view table, .datagrid-ctn .auto-view td:first-child { border-left: none; }

.datagrid-ctn .head td:hover, .datagrid-ctn .body tr:hover { background: #e6e6e6; }

.datagrid-ctn .cell { overflow: hidden; line-height: 20px; text-align: center; white-space: nowrap; color: #333; }

.datagrid-ctn .cell.txt-rt { text-align: right; }

.datagrid-ctn .cell.txt-lt { text-align: left; }

.datagrid-ctn .field-title { margin-left: 12px; }

.datagrid-ctn .cell { height: 100%; }

.datagrid-ctn .sortable { cursor: pointer; background: #f3f3f3; }

.datagrid-ctn .sortable:hover { background: #e6e6e6; }

.datagrid-ctn .sort-mark { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; width: 12px; text-align: center; font-family: SimSun; color: #b90; }

.datagrid-ctn .sort-mark.desc:before { content: "↓"; color: #b90; }

.datagrid-ctn .sort-mark.asc:before { content: "↑"; color: #b90; }

.datagrid-ctn .autoRowHeight .cell { height: auto; }

.datagrid-ctn .head .cell { font-family: "MicroSoft Yahei"; color: #000; }
