.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

.imgc:before, .imgc .iecp, .imgc img, audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imge { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { max-width: 100%; max-height: 100%; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

.dtp-ctn { position: relative; z-index: 100; float: left; padding: 1px; display: none; border: 1px solid #ddd; background: white; }

.dtp-ctn li { list-style: none; }

.dtp-ctn .dtp-header { height: 18px; padding: 3px; line-height: 18px; background: #888; }

.dtp-ctn .dtp-header li { float: left; width: 203px; text-align: center; color: white; font-weight: bold; }

.dtp-ctn .dtp-header li a { color: white; text-decoration: none; display: inline-block; *display: inline; *zoom: 1; vertical-align: top; padding: 0 2px; }

.dtp-ctn .dtp-switcher { top: 3px; position: absolute; width: 20px; height: 20px; -webkit-user-select: none; -moz-user-select: none; user-select: none; line-height: 20px; text-align: center; background: #ccc; border-radius: 3px; cursor: pointer; text-decoration: none; color: black; font-size: 20px; font-family: SimSun; }

.dtp-ctn .dtp-switcher:hover { background-color: #d9d9d9; }

.dtp-ctn .dtp-switcher:active { background-color: #bfbfbf; outline: thin dotted; outline-offset: -2px; }

.dtp-ctn .dtp-prev { left: 3px; }

.dtp-ctn .dtp-next { right: 3px; }

.dtp-ctn .dtp-list .dtp-item { float: left; width: 203px; padding: 2px; border-left: 1px solid #ddd; }

.dtp-ctn .dtp-list .dtp-item.first { border: none; }

.dtp-ctn .dtp-list ul { padding: 0; margin: auto; }

.dtp-ctn .dtp-list .dtp-wh { background: #ececec; }

.dtp-ctn .dtp-list li { width: 25px; height: 25px; -webkit-user-select: none; -moz-user-select: none; user-select: none; line-height: 25px; text-align: center; background: #ddd; border-radius: 3px; cursor: pointer; margin: 2px; float: left; color: #31e; }

.dtp-ctn .dtp-list li:hover { background-color: #eaeaea; }

.dtp-ctn .dtp-list li:active { background-color: #d0d0d0; outline: thin dotted; outline-offset: -2px; }

.dtp-ctn .dtp-list li.day { font-weight: bold; color: #666; }

.dtp-ctn .dtp-list li.weekend { color: #f18100; }

.dtp-ctn .dtp-list li.disabled { color: #999; }

.dtp-ctn .dtp-list li.disabled:hover { background: #ddd; }

.dtp-ctn .dtp-list li.selected { background: #4385e0; color: white; }
