.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

audio, canvas, video, .ib { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imge { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; max-width: 100%; max-height: 100%; }

@keyframes radioOut { 0% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		/*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		/*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ } }

@-webkit-keyframes radioOut { 0% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		/*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		/*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ } }

@-moz-keyframes radioOut { 0% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		/*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		/*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ } }

@-o-keyframes radioOut { 0% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		/*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		/*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ } }

@-ms-keyframes radioOut { 0% { -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); /*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); /*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2); -moz-transform: scale(2); -ms-transform: scale(2); -o-transform: scale(2); transform: scale(2); /*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); /*@include opacity(0);*/ } }

* { box-sizing: border-box; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

.img-tight { font-size: 0; text-align: center; }

.img-tight:before, .img-tight .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.img-tight:before, .img-tight .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-tight img { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib-row { font-size: 0; }

.ib-row:before, .ib-row .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.ib-row:before, .ib-row .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { display: inline-block; *display: inline; *zoom: 1; vertical-align: top; font-size: 12px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left; }

.txt-rt { text-align: right; }

.txt-ct { text-align: center; }

.txt-justify { text-align: justify; }

.txt-justify.ie-pure-txt { text-justify: distribute-all-lines; }

.txt-justify:after { content: ''; }

.txt-justify:after, .txt-justify .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.txt-justify .i { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-style: normal; }

.vt-top { vertical-align: top; }

.vt-mid { vertical-align: middle; }

.vt-btm { vertical-align: bottom; }

.dtp-ctn { position: relative; z-index: 100; float: left; padding: 1px; display: none; border: 1px solid #ddd; background: white; }

.dtp-ctn li { list-style: none; }

.dtp-ctn .dtp-header { height: 24px; line-height: 24px; background: #888; }

.dtp-ctn .dtp-header li { float: left; width: 208px; text-align: center; color: white; font-weight: bold; }

.dtp-ctn .dtp-header li a { color: white; text-decoration: none; display: inline-block; *display: inline; *zoom: 1; vertical-align: top; padding: 0 2px; }

.dtp-ctn .dtp-switcher { position: absolute; top: 2px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; width: 20px; height: 20px; -webkit-user-select: none; -moz-user-select: none; user-select: none; font: 14px/20px "Microsoft YaHei"; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #333333; text-align: center; background: #ccc; cursor: pointer; text-decoration: none; text-decoration: none; color: black; font-size: 20px; font-family: SimSun; }

.dtp-ctn .dtp-switcher:hover { background-color: #d9d9d9; }

.dtp-ctn .dtp-switcher:active { outline: thin dotted; outline-offset: -2px; background-color: #bfbfbf; }

.dtp-ctn .dtp-prev { left: 3px; }

.dtp-ctn .dtp-next { right: 3px; }

.dtp-ctn .dtp-list .dtp-item { float: left; width: 208px; padding: 2px; border-left: 1px solid #ddd; }

.dtp-ctn .dtp-list .dtp-item.first { border: none; }

.dtp-ctn .dtp-list ul { padding: 0; margin: auto; }

.dtp-ctn .dtp-list .dtp-wh { background: #ececec; }

.dtp-ctn .dtp-list li { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; width: 25px; height: 25px; -webkit-user-select: none; -moz-user-select: none; user-select: none; font: 14px/25px "Microsoft YaHei"; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #222222; text-align: center; background: #ddd; cursor: pointer; text-decoration: none; margin: 2px; float: left; color: #31e; }

.dtp-ctn .dtp-list li:hover { background-color: #eaeaea; }

.dtp-ctn .dtp-list li:active { outline: thin dotted; outline-offset: -2px; background-color: #d0d0d0; }

.dtp-ctn .dtp-list li.day { font-weight: bold; color: #666; }

.dtp-ctn .dtp-list li.weekend { color: #f18100; }

.dtp-ctn .dtp-list li.disabled { color: #999; }

.dtp-ctn .dtp-list li.disabled:hover { background: #ddd; }

.dtp-ctn .dtp-list li.selected { background: #4385e0; color: white; }
