.menu-ctn span { display: inline-block; vertical-align: middle; }

@-webkit-keyframes radioOut { 0% { -webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
		filter: alpha(opacity=100); }
	70% { -webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0.5;
		filter: alpha(opacity=50); }
	90% { -webkit-transform: scale(2.5);
		transform: scale(2.5);
		opacity: 0.1;
		filter: alpha(opacity=10); }
	100% { -webkit-transform: scale(0);
		transform: scale(0);
		opacity: 0;
		filter: alpha(opacity=0); } }

@keyframes radioOut { 0% { -webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
		filter: alpha(opacity=100); }
	70% { -webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0.5;
		filter: alpha(opacity=50); }
	90% { -webkit-transform: scale(2.5);
		transform: scale(2.5);
		opacity: 0.1;
		filter: alpha(opacity=10); }
	100% { -webkit-transform: scale(0);
		transform: scale(0);
		opacity: 0;
		filter: alpha(opacity=0); } }

* { box-sizing: border-box; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; vertical-align: middle; }

::-webkit-scrollbar { width: 10px; height: 10px; }

::-webkit-scrollbar-corner, ::-webkit-scrollbar-track { background-color: #e2e2e2; }

::-webkit-scrollbar-thumb { border-radius: 0; background-color: rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-corner, ::-webkit-scrollbar-track { background-color: #e2e2e2; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

.imge { display: inline-block; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before { display: inline-block; vertical-align: middle; }

.imgc:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib { display: inline-block; vertical-align: middle; }

.img-tight { font-size: 0; text-align: center; }

.img-tight:before { display: inline-block; vertical-align: middle; }

.img-tight:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-tight img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib-row { font-size: 0; }

.ib-row:before { display: inline-block; vertical-align: middle; }

.ib-row:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { display: inline-block; vertical-align: top; font-size: 12px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left; }

.txt-rt { text-align: right; }

.txt-ct { text-align: center; }

.txt-justify { text-align: justify; }

.txt-justify.ie-pure-txt { text-justify: distribute-all-lines; }

.txt-justify:after { content: ''; }

.txt-justify:after, .txt-justify .iecp { display: inline-block; vertical-align: middle; width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.txt-justify .i { display: inline-block; vertical-align: middle; font-style: normal; }

.vt-top { vertical-align: top; }

.vt-mid { vertical-align: middle; }

.vt-btm { vertical-align: bottom; }

.grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; display: table\9; width: 100%\9; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; } }

.grid.grid-column { -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.grid .col { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -moz-box-flex: 0; -moz-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; display: table-cell\9; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .grid .col { display: block; } }

.grid .col > .grid-iecp { content: ""; display: none; display: block; width: auto; height: 0; line-height: 0; font-size: 0; }

.grid .col-rest { display: table-cell\9; width: 100%\9; -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -moz-box-flex: 1; -moz-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .grid .col-rest { display: block; } }

.grid .col-rest.grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; display: table\9; width: 100%\9; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .grid .col-rest.grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; } }

.grid .col-rest.grid.grid-column { -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.icon-chart { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARxJREFUeNqkVMENwjAMhIo/jAATtEj8SScANugLnjBCmYDwhA8dgRHKHwnYADYoE5RzuUihDRItkSxbSXz2nZu28zxv/bs6dRNGi30EJzaGDc67+d1rUDggwEMAZMNr0MUS9oQda9MhwIEAU1hmztrfhEWSXOyjZY1YKFwIoLB3te9WQJDQg4vZtqwTdWi5ACp0WDGB+bAbTISb2B2wiOgRVYTF4QouJcAaFwKYUJqVOkg4Hf3RCQAU3IYVQySk5gLio0VTOu3xyPh3J0zaUsjUAFNcAyD7yjUE53SsacgK2XpBk0BC54SCyiVsn5zjEq7/09uhLsK/W/cd2J+9agJQBsmaxp41Sk0Rh/wmQo5b4iFjzd9ASF+slwADAL9Ud+u4mBifAAAAAElFTkSuQmCC'); }

.icon-user { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANxJREFUeNpi+P//PwM+bJw2U4CQGiYGPMAkfVYBkDoApXECRpBJOAw4AKTskYQuArHDmZlpH9DVMuEwwADNABDQB2IDbOrxeodYgNUQoJMv4FBPvEuA3hHAYcgHUlwCUrwRTfgjEG8gNUwaoBphoABbzBAyBOR/HyBuBGJDIBYgOp0AwyMASE0AYnmQl4C2BwDFFgDZ8UD8EIgTgGIHcBoCVJwApOYTEasTgQYV4PJOApFJIwFfmBgQaQg/0NUOuAzhp1qKJRWwoPENof7FlgEZoLEDyhIbkGMIIMAA9PdujKg2o1oAAAAASUVORK5CYII='); }

.icon-money { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANNJREFUeNpi/P//PwOlgAXGMEmfJQCkDKDcC2dmpn1AV4ym5gFQzQMQgwlJDUjBBiDeD6WxgQao/H4kwxCGQE1tgHLtgbYGoLkCpCkfyt0IVL8BwxCoQROA1EEodwHU+TCwAEp/BOICZH1MWJwMU8APxBOgrgCJ6cO8BAsLGGDEFjtATSBv1UO5gVBXgAw9CDTAAV09NpeAvAUy5CKUux5qAAgkYFOP4hI0F+ADKC5iYqACYMSXYpFchjUshql3qOISqhjCQkAelFIPAPEHfIoAAgwA47BX9ZX/0IQAAAAASUVORK5CYII='); }

.menu-ctn { position: absolute; min-width: 98px; *width: 98px; }

.menu-ctn .wraper { border: 1px solid #aaa; background: white; }

.menu-ctn ul { width: auto; }

.menu-ctn li { position: relative; /*float:left;width:100%;*/ height: 24px; padding: 1px; list-style: none; }

.menu-ctn a { display: block; overflow: hidden; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding-right: 8px; color: black; white-space: nowrap; text-decoration: none; }

.menu-ctn a:hover { background: #e1e1e1; border-color: #bbb; }

.menu-ctn a.disabled { color: #aaa; }

.menu-ctn span { width: 16px; cursor: pointer; line-height: 22px; }

.menu-ctn .icon { height: 16px; }

.menu-ctn .sub-tag { position: absolute; top: 50%; right: 2px; width: 0; height: 0; margin-top: -3px; border-left: 5px solid black; border-bottom: 5px solid transparent; border-top: 5px solid transparent; font-size: 0; line-height: 0; }

.menu-ctn .text { width: auto; padding: 2px 0 0 5px; white-space: nowrap; }

.menu-ctn .separate { padding: 0; height: 1px; overflow: hidden; *font-size: 0; *line-height: 0; }

.menu-ctn .separate span { display: block; width: auto; height: 0px; overflow: hidden; border-top: 1px solid #bbb; /*margin:0 4px 0 26px;*/ }
