.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

audio, canvas, video, .imgc:before, .imgc .iecp, .imgc img, .imge, .ib, .img-ctn:before, .img-ctn .iecp, .img-ctn img, .ib-row:before, .ib-row .iecp, .ib-col, .ib-col-full, .txt-jt:after, .txt-jt .iecp, .pagination-ctn .pc, .pagination-ctn a, .pagination-ctn .form, .pagination-ctn .desc, .pagination-ctn .pn, .pagination-ctn .form span, .pagination-ctn .form input, .pagination-ctn .form .go { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*::before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { vertical-align: middle; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { vertical-align: middle; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { vertical-align: middle; max-width: 100%; max-height: 100%; }

.imge { vertical-align: middle; font-size: 14px; font-size: 1rem; line-height: normal; }

.ib { vertical-align: middle; }

.badge { border-radius: 50%; overflow: hidden; }

.img-ctn { font-size: 0; text-align: center; }

.img-ctn:before, .img-ctn .iecp { vertical-align: middle; }

.img-ctn:before, .img-ctn .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-ctn img { vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib-row { font-size: 0; text-align: left; }

.ib-row:before, .ib-row .iecp { vertical-align: middle; }

.ib-row:before, .ib-row .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { vertical-align: top; font-size: 14px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left; }

.txt-rt { text-align: right; }

.txt-ct { text-align: center; }

.txt-jt { text-align: justify; }

.txt-jt.ie-pure-txt { text-justify: distribute-all-lines; }

.txt-jt:after { content: ''; }

.txt-jt:after, .txt-jt .iecp { vertical-align: middle; width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.txt-clean * { text-align: left !important; float: none !important; vertical-align: baseline !important; background: transparent !important; text-decoration: none !important; font-size: 14px !important; font-size: inherit !important; border: none !important; box-shadow: none !important; display: inline !important; margin: 0 !important; padding: 0 !important; height: auto !important; width: auto !important; font-weight: normal !important; font-weight: inherit !important; line-height: normal !important; line-height: inherit !important; color: #666 !important; color: inherit !important; }

.txt-clean *:empty { display: none; }

.txt-clean *:before { content: normal; }

.txt-clean *:after { content: normal; }

.txt-clean, .txt-clean * { word-break: break-all !important; word-wrap: break-word !important; }

.txt-clean a, .txt-clean button, .txt-clean input { pointer-events: none !important; }

.txt-clean br, .txt-clean img { display: none !important; }

.vt-top { vertical-align: top; }

.vt-mid { vertical-align: middle; }

.vt-btm { vertical-align: bottom; }

.vt-bsl { vertical-align: baseline; }

.grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; width: 100%; }

@media \0screen { .grid { display: table; }
	.grid.layout-auto { table-layout: auto; }
	.grid.layout-fixed { table-layout: fixed; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid { display: table; }
	.grid.layout-auto { table-layout: auto; }
	.grid.layout-fixed { table-layout: fixed; } }

.grid.inline-grid { display: -webkit-inline-box; display: -webkit-inline-flex; display: -moz-inline-flex; display: -ms-inline-flexbox; display: inline-flex; width: auto; }

@media \0screen { .grid.inline-grid { display: inline-table; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid.inline-grid { display: inline-table; } }

.grid.grid-column { display: block; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }

.grid.grid-column > .col, .grid.grid-column > .col-reset { display: block; }

.grid.grid-column > .col-reset { height: 100%; }

.grid.inline-grid { display: -webkit-inline-box; display: -webkit-inline-flex; display: -moz-inline-flex; display: -ms-inline-flexbox; display: inline-flex; width: auto; }

@media \0screen { .grid.inline-grid { display: inline-table; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid.inline-grid { display: inline-table; } }

.grid.vt-top { -webkit-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; -moz-align-items: flex-start; align-items: flex-start; }

.grid.vt-top .col, .grid.vt-top .col-rest { vertical-align: top; }

.grid.vt-btm { -webkit-box-align: end; -ms-flex-align: end; -webkit-align-items: flex-end; -moz-align-items: flex-end; align-items: flex-end; }

.grid.vt-btm .col, .grid.vt-btm .col-rest { vertical-align: bottom; }

.grid.vt-mid { -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; }

.grid.vt-mid .col, .grid.vt-mid .col-rest { vertical-align: middle; }

.grid.vt-bsl { -webkit-box-align: baseline; -ms-flex-align: baseline; -webkit-align-items: baseline; -moz-align-items: baseline; align-items: baseline; }

.grid.vt-bsl .col, .grid.vt-bsl .col-rest { vertical-align: baseline; }

.grid .col { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -moz-box-flex: 0; -moz-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; }

@media \0screen { .grid .col { display: table-cell; vertical-align: top; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid .col { display: table-cell; vertical-align: top; } }

_:-ms-lang(x), .grid .col { display: inline-block\9; }

.grid .col-rest { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -moz-box-flex: 1; -moz-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; width: 100%; }

@media \0screen { .grid .col-rest { display: table-cell; vertical-align: top; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid .col-rest { display: table-cell; vertical-align: top; } }

_:-ms-lang(x), .grid .col-rest { display: inline-block\9; }

.pagination-ctn { padding: 1px; text-align: center; }

.pagination-ctn .pc, .pagination-ctn a, .pagination-ctn .form, .pagination-ctn .desc { vertical-align: middle; }

.pagination-ctn .pn { vertical-align: middle; width: auto; height: 32px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; line-height: 32px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: black; box-shadow: 0 12.8px 16.8px -11.2px white; text-align: center; background: #fff; cursor: pointer; text-decoration: none; -webkit-transition: background,box-shadow 0.35s ease-out; transition: background,box-shadow 0.35s ease-out; border: 1px solid #d3d3d3; }

.pagination-ctn .pn:hover { background-color: white; }

.pagination-ctn .pn:active { box-shadow: 0 13.76px 21.92px -8px #f2f2f2; background-color: #f2f2f2; }

.pagination-ctn .pn, .pagination-ctn .current { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 0 15px; margin: 0 2px; background-color: #fff; color: #666; border: 1px solid #d3d3d3; font-family: SimSun,Microsoft YaHei; }

.pagination-ctn .current { background: #ff9c0f; color: white; }

.pagination-ctn .pn:hover { background: #ff9c0f; color: white; }

.pagination-ctn .pn:active { background: #f59000; color: white; }

.pagination-ctn a { height: 32px; line-height: 32px; color: #fff; text-decoration: none; cursor: pointer; }

.pagination-ctn .plain { padding: 0 8px; color: #666; }

.pagination-ctn .plain, .pagination-ctn .current { cursor: default; border: none; }

.pagination-ctn .plain:focus, .pagination-ctn .current:focus { outline: none; }

.pagination-ctn .disabled { color: #999; }

.pagination-ctn .disabled:hover { background: white; color: #999; cursor: not-allowed; }

.pagination-ctn .form span, .pagination-ctn .form input, .pagination-ctn .form .go { vertical-align: middle; height: 32px; line-height: 32px; }

.pagination-ctn .form input { width: 45px; -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; border: 1px solid #eb8226; border-right: none; text-align: center; }

.pagination-ctn .form .go { vertical-align: middle; width: auto; height: 32px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; line-height: 32px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #0063f0; box-shadow: 0 12.8px 16.8px -11.2px #ffa21e; text-align: center; background: #ff9c0f; cursor: pointer; text-decoration: none; -webkit-transition: background,box-shadow 0.35s ease-out; transition: background,box-shadow 0.35s ease-out; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; height: 32px; padding: 0 10px; margin: 0; margin-right: 2px; border: 1px solid #ff9c0f; background: #ff9c0f; color: white; }

.pagination-ctn .form .go:hover { background-color: #ffa729; }

.pagination-ctn .form .go:active { box-shadow: 0 13.76px 21.92px -8px #f59000; background-color: #f59000; }
