@charset "UTF-8";
.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

.imgc:before, .imgc .iecp, .imgc img, audio, canvas, video, .ib, .img-tight:before, .img-tight .iecp, .img-tight img, .ib-row:before, .ib-row .iecp, .pagination-ctn .pc, .pagination-ctn a, .pagination-ctn .form, .pagination-ctn .desc, .pagination-ctn .form span, .pagination-ctn .form input, .pagination-ctn .form .go { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imge { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { max-width: 100%; max-height: 100%; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

.img-tight { font-size: 0; text-align: center; }

.img-tight:before, .img-tight .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-tight img { max-width: 100%; max-height: 100%; }

.ib-row { font-size: 0; }

.ib-row:before, .ib-row .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left; }

.txt-rt { text-align: right; }

.txt-ct { text-align: center; }

.vt-top { vertical-align: top; }

.vt-mid { vertical-align: middle; }

.vt-btm { vertical-align: bottom; }

.pagination-ctn { padding: 1px; text-align: center; }

.pagination-ctn .pn, .pagination-ctn .current { font-family: SimSun,微软雅黑,Microsoft YaHei; }

.pagination-ctn .pn, .pagination-ctn .current { padding: 0 10px; background-color: #fff; color: #666; border: 1px solid #d3d3d3; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; margin: 0 2px; }

.pagination-ctn .current { border-color: #ff9c0f; background: #ff9c0f; color: white; cursor: default; }

.pagination-ctn .pn { width: auto; height: 28px; -webkit-user-select: none; -moz-user-select: none; user-select: none; line-height: 28px; text-align: center; background: #fff; border-radius: 3px; cursor: pointer; }

.pagination-ctn .pn:hover { background-color: white; }

.pagination-ctn .pn:active { background-color: #f2f2f2; outline: thin dotted; outline-offset: -2px; }

.pagination-ctn .pn:hover { background: #ff9c0f; color: white; }

.pagination-ctn .pn:active { background: #f59000; color: white; }

.pagination-ctn a { color: #fff; text-decoration: none; cursor: pointer; height: 28px; line-height: 28px; }

.pagination-ctn .plain { border: none; color: #666; cursor: default; padding: 0 8px; }

.pagination-ctn .plain, .pagination-ctn .current { cursor: default; }

.pagination-ctn .plain:focus, .pagination-ctn .current:focus { outline: none; }

.pagination-ctn .disabled { color: #ddd; }

.pagination-ctn .disabled:hover { background: white; color: #ddd; cursor: default; cursor: not-allowed; }

.pagination-ctn .form span, .pagination-ctn .form input, .pagination-ctn .form .go { height: 26px; line-height: 26px; }

.pagination-ctn .form input { width: 45px; text-align: center; border: 1px solid #eb8226; border-right: none; -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; -ms-border-radius: 3px 0 0 3px; -o-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; }

.pagination-ctn .form .go { padding: 0 10px; margin: 0; margin-right: 2px; line-height: 26px; border: 1px solid #ff9c0f; width: auto; height: auto; -webkit-user-select: none; -moz-user-select: none; user-select: none; line-height: auto; text-align: center; background: #ff9c0f; border-radius: 3px; cursor: pointer; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -ms-border-radius: 0 3px 3px 0; -o-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; background: #ff9c0f; color: white; }

.pagination-ctn .form .go:hover { background-color: #ffa729; }

.pagination-ctn .form .go:active { background-color: #f59000; outline: thin dotted; outline-offset: -2px; }
