.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

.imgc:before, .imgc .iecp, .imgc img, audio, canvas, video, .ib, .img-tight:before, .img-tight .iecp, .img-tight img, .ib-row:before, .ib-row .iecp, .pagination-ctn .pc, .pagination-ctn a, .pagination-ctn .form, .pagination-ctn .desc, .pagination-ctn .form span, .pagination-ctn .form input, .pagination-ctn .form .go { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imge { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { max-width: 100%; max-height: 100%; }

@keyframes radioOut { 0% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		/*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		/*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ } }

@-webkit-keyframes radioOut { 0% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		/*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		/*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ } }

@-moz-keyframes radioOut { 0% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		/*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		/*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ } }

@-o-keyframes radioOut { 0% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		/*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		/*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ } }

@-ms-keyframes radioOut { 0% { -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); /*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); /*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2); -moz-transform: scale(2); -ms-transform: scale(2); -o-transform: scale(2); transform: scale(2); /*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); /*@include opacity(0);*/ } }

* { box-sizing: border-box; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

.img-tight { font-size: 0; text-align: center; }

.img-tight:before, .img-tight .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-tight img { max-width: 100%; max-height: 100%; }

.ib-row { font-size: 0; }

.ib-row:before, .ib-row .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { display: inline-block; *display: inline; *zoom: 1; vertical-align: top; font-size: 12px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left; }

.txt-rt { text-align: right; }

.txt-ct { text-align: center; }

.txt-justify { text-align: justify; }

.txt-justify.ie-pure-txt { text-justify: distribute-all-lines; }

.txt-justify:after { content: ''; }

.txt-justify:after, .txt-justify .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.txt-justify .i { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-style: normal; }

.vt-top { vertical-align: top; }

.vt-mid { vertical-align: middle; }

.vt-btm { vertical-align: bottom; }

.pagination-ctn { padding: 1px; text-align: center; }

.pagination-ctn .pn, .pagination-ctn .current { font-family: SimSun,Microsoft YaHei; }

.pagination-ctn .pn { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; width: auto; height: 32px; -webkit-user-select: none; -moz-user-select: none; user-select: none; font: 14px/32px "Microsoft YaHei"; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: black; text-align: center; background: #fff; cursor: pointer; text-decoration: none; border: 1px solid #d3d3d3; }

.pagination-ctn .pn:hover { background-color: white; }

.pagination-ctn .pn:active { outline: thin dotted; outline-offset: -2px; background-color: #f2f2f2; }

.pagination-ctn .pn, .pagination-ctn .current { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 0 15px; margin: 0 2px; background-color: #fff; color: #666; border: 1px solid #d3d3d3; }

.pagination-ctn .current { border-color: #ff9c0f; background: #ff9c0f; color: white; cursor: default; }

.pagination-ctn .pn:hover { background: #ff9c0f; color: white; }

.pagination-ctn .pn:active { background: #f59000; color: white; }

.pagination-ctn a { height: 32px; line-height: 32px; color: #fff; text-decoration: none; cursor: pointer; }

.pagination-ctn .plain { padding: 0 8px; border: none; color: #666; cursor: default; }

.pagination-ctn .plain, .pagination-ctn .current { cursor: default; }

.pagination-ctn .plain:focus, .pagination-ctn .current:focus { outline: none; }

.pagination-ctn .disabled { color: #999; }

.pagination-ctn .disabled:hover { background: white; color: #999; cursor: default; cursor: not-allowed; }

.pagination-ctn .form span, .pagination-ctn .form input, .pagination-ctn .form .go { height: 32px; line-height: 32px; }

.pagination-ctn .form input { width: 45px; -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; border: 1px solid #eb8226; border-right: none; text-align: center; }

.pagination-ctn .form .go { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; width: auto; height: auto; -webkit-user-select: none; -moz-user-select: none; user-select: none; font: 14px/auto "Microsoft YaHei"; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #0063f0; text-align: center; background: #ff9c0f; cursor: pointer; text-decoration: none; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; height: 32px; padding: 0 10px; margin: 0; margin-right: 2px; border: 1px solid #ff9c0f; background: #ff9c0f; color: white; }

.pagination-ctn .form .go:hover { background-color: #ffa729; }

.pagination-ctn .form .go:active { outline: thin dotted; outline-offset: -2px; background-color: #f59000; }
