@charset "UTF-8";
@-webkit-keyframes radioOut { 0% { -webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
		filter: alpha(opacity=100); }
	70% { -webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0.5;
		filter: alpha(opacity=50); }
	90% { -webkit-transform: scale(2.5);
		transform: scale(2.5);
		opacity: 0.1;
		filter: alpha(opacity=10); }
	100% { -webkit-transform: scale(0);
		transform: scale(0);
		opacity: 0;
		filter: alpha(opacity=0); } }

@keyframes radioOut { 0% { -webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
		filter: alpha(opacity=100); }
	70% { -webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0.5;
		filter: alpha(opacity=50); }
	90% { -webkit-transform: scale(2.5);
		transform: scale(2.5);
		opacity: 0.1;
		filter: alpha(opacity=10); }
	100% { -webkit-transform: scale(0);
		transform: scale(0);
		opacity: 0;
		filter: alpha(opacity=0); } }

* { box-sizing: border-box; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; vertical-align: middle; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

.imge { display: inline-block; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before { display: inline-block; vertical-align: middle; }

.imgc:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib { display: inline-block; vertical-align: middle; }

.img-tight { font-size: 0; text-align: center; }

.img-tight:before { display: inline-block; vertical-align: middle; }

.img-tight:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-tight img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib-row { font-size: 0; }

.ib-row:before { display: inline-block; vertical-align: middle; }

.ib-row:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { display: inline-block; vertical-align: top; font-size: 12px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left; }

.txt-rt { text-align: right; }

.txt-ct { text-align: center; }

.txt-justify { text-align: justify; }

.txt-justify.ie-pure-txt { text-justify: distribute-all-lines; }

.txt-justify:after { content: ''; }

.txt-justify:after, .txt-justify .iecp { display: inline-block; vertical-align: middle; width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.txt-justify .i { display: inline-block; vertical-align: middle; font-style: normal; }

.vt-top { vertical-align: top; }

.vt-mid { vertical-align: middle; }

.vt-btm { vertical-align: bottom; }

ul li { list-style: none; }

*, *:before, *:after, *::before, *::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, .page { width: 100%; height: 100%; overflow: hidden; color: #666; font: 14px PingFangSC-Regular,"Droid Sans Regular","Rotobo"; }

body { position: relative; overflow-x: hidden; }

.hidden { display: none; }

a { color: #666; }

@-webkit-keyframes stateLoading { 0% { -webkit-transform: rotate(0deg);
		transform: rotate(0deg); }
	24% { -webkit-transform: rotate(180deg);
		transform: rotate(180deg); }
	58% { -webkit-transform: rotate(290deg);
		transform: rotate(290deg); }
	100% { -webkit-transform: rotate(360deg);
		transform: rotate(360deg); } }

@keyframes stateLoading { 0% { -webkit-transform: rotate(0deg);
		transform: rotate(0deg); }
	24% { -webkit-transform: rotate(180deg);
		transform: rotate(180deg); }
	58% { -webkit-transform: rotate(290deg);
		transform: rotate(290deg); }
	100% { -webkit-transform: rotate(360deg);
		transform: rotate(360deg); } }

.icon-loading, #stateLoading { display: inline-block; vertical-align: middle; width: 40px; height: 40px; border-radius: 100%; -webkit-animation: stateLoading 1s linear 0s infinite normal; animation: stateLoading 1s linear 0s infinite normal; border: 3px solid blue; border-right-color: transparent; border-left-color: #2626ff; border-bottom-color: #8080ff; }

.arrow-left:before { content: ""; position: absolute; top: 11px; left: 10px; width: 0; height: 0; border-right: 11px solid #666; border-bottom: 11px solid transparent; border-top: 11px solid transparent; }

.arrow-left:after { content: ""; position: absolute; top: 11px; left: 12px; width: 0; height: 0; border-right: 11px solid white; border-bottom: 11px solid transparent; border-top: 11px solid transparent; }

.checkbox { -webkit-appearance: none; appearance: none; display: inline-block; vertical-align: middle; width: 18px; height: 18px; border-radius: 50%; line-height: 16px; color: #d6d6d6; border: 1px solid; text-align: center; }

.checkbox:after { content: "\2713"; }

.checkbox:checked { color: white; background: blue; border-color: blue; }

.page { -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.header { -webkit-box-flex: 0; -webkit-flex: 0 0 44px; -moz-box-flex: 0; -moz-flex: 0 0 44px; -ms-flex: 0 0 44px; flex: 0 0 44px; position: relative; z-index: 10; background-color: rgba(255, 255, 255, 0.8); display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; text-align: center; }

.header, .header a { font-size: 18px; color: #333; }

.header .page-title { font-size: 20px; }

.header .action-left, .header .action-right { width: 50px; height: 44px; display: block; line-height: 44px; }

.footer { -webkit-box-flex: 0; -webkit-flex: 0 0 44px; -moz-box-flex: 0; -moz-flex: 0 0 44px; -ms-flex: 0 0 44px; flex: 0 0 44px; }

.wrapper { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -moz-box-flex: 1; -moz-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; position: relative; font-size: 14px; overflow: hidden; }

.wrapper.webkit-scroll { -webkit-overflow-scrolling: touch; overflow-y: scroll; overflow-x: hidden; }

.dialog-ctn { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 100; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; background-color: rgba(68, 68, 68, 0.68); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#AD444444,endColorstr=#AD444444); }

@media screen and (min-width: 0px) { .dialog-ctn { filter: none; } }

.dialog-ctn.hidden { display: none; }

.dialog-ctn .dialog-content { width: 85%; overflow: hidden; background: white; border-radius: 3px; }

.dialog-ctn .dialog-content .dialog-main { padding: 6px 10px; min-height: 100px; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; }

.dialog-ctn.loading-state { background-color: rgba(255, 255, 255, 0.5); }

.dialog-ctn.loading-state .dialog-content { padding: 6px 10px; background-color: transparent; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000); display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; }

@media screen and (min-width: 0px) { .dialog-ctn.loading-state .dialog-content { filter: none; } }

.dialog-ctn.dialog-tip { background-color: rgba(255, 255, 255, 0.01); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#03FFFFFF,endColorstr=#03FFFFFF); }

@media screen and (min-width: 0px) { .dialog-ctn.dialog-tip { filter: none; } }

.dialog-ctn.dialog-tip .dialog-content { width: auto; max-width: 85%; min-width: 33.333%; padding: 12px 25px; background-color: rgba(0, 0, 0, 0.75); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000); color: white; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; }

@media screen and (min-width: 0px) { .dialog-ctn.dialog-tip .dialog-content { filter: none; } }

.btn-group { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; border-top: 1px solid #e2e2e2; }

.btn-group span { -webkit-box-flex: 1; -webkit-flex: 1 1 50%; -moz-box-flex: 1; -moz-flex: 1 1 50%; -ms-flex: 1 1 50%; flex: 1 1 50%; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; text-align: center; line-height: 40px; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; }

.btn-group .btn-submit { color: #28c4dc; border-left: 1px solid #e2e2e2; }

.slide-ctn { position: fixed; top: 0; left: 0; z-index: 10; width: 100%; height: 100%; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-transform: translate3d(101%, 0, 0); transform: translate3d(101%, 0, 0); -webkit-transition: all 0.35s ease 0s; transition: all 0.35s ease 0s; background: white; }

.slide-ctn.slide-in { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.load-more { display: none; font: 16px SimHei; color: blue; height: 40px; line-height: 40px; text-align: center; }

.load-more .icon-loading { display: none; }

.load-more.state-preloading:before { content: '松开加载更多……'; display: inline-block; vertical-align: middle; }

.load-more.state-loading, .load-more.state-preloading { display: block; }

.load-more.state-loading:before { content: normal; }

.load-more.state-loading span { display: inline-block; }
