@charset "UTF-8";
.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

audio, canvas, video, .imge, .imgc:before, .imgc .iecp, .imgc img, .ib, .img-tight:before, .img-tight .iecp, .img-tight img, .ib-row:before, .ib-row .iecp, .ib-col, .ib-col-full, .txt-justify:after, .txt-justify .iecp, .txt-justify .i, .icon-loading, #stateLoading, .checkbox, .load-more.state-preloading:before { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

*, *:before, *:after, *::before, *::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { vertical-align: middle; }

.imge { vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { vertical-align: middle; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib { vertical-align: middle; }

.img-tight { font-size: 0; text-align: center; }

.img-tight:before, .img-tight .iecp { vertical-align: middle; }

.img-tight:before, .img-tight .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-tight img { vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib-row { font-size: 0; }

.ib-row:before, .ib-row .iecp { vertical-align: middle; }

.ib-row:before, .ib-row .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { vertical-align: top; font-size: 12px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left; }

.txt-rt { text-align: right; }

.txt-ct { text-align: center; }

.txt-justify { text-align: justify; }

.txt-justify.ie-pure-txt { text-justify: distribute-all-lines; }

.txt-justify:after { content: ''; }

.txt-justify:after, .txt-justify .iecp { vertical-align: middle; width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.txt-justify .i { vertical-align: middle; font-style: normal; }

.vt-top { vertical-align: top; }

.vt-mid { vertical-align: middle; }

.vt-btm { vertical-align: bottom; }

.vt-bsl { vertical-align: baseline; }

.grid { display: table; width: 100%; table-layout: fixed; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }

@media \0screen { .grid { display: table; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid { display: table; } }

.grid.layout-auto { table-layout: auto; }

.grid.grid-column { display: block; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }

.grid.grid-column > .col, .grid.grid-column > .col-reset { display: block; }

.grid.grid-column > .col-reset { height: 100%; }

.grid.vt-top { -webkit-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; -moz-align-items: flex-start; align-items: flex-start; }

.grid.vt-top .col, .grid.vt-top .col-rest { vertical-align: top; }

.grid.vt-btm { -webkit-box-align: end; -ms-flex-align: end; -webkit-align-items: flex-end; -moz-align-items: flex-end; align-items: flex-end; }

.grid.vt-btm .col, .grid.vt-btm .col-rest { vertical-align: bottom; }

.grid.vt-mid { -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; }

.grid.vt-mid .col, .grid.vt-mid .col-rest { vertical-align: middle; }

.grid.vt-bsl { -webkit-box-align: baseline; -ms-flex-align: baseline; -webkit-align-items: baseline; -moz-align-items: baseline; align-items: baseline; }

.grid.vt-bsl .col, .grid.vt-bsl .col-rest { vertical-align: baseline; }

.grid .col { display: table-cell; vertical-align: top; -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -moz-box-flex: 0; -moz-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; }

_:-ms-lang(x), .grid .col { display: block; }

.grid .col-rest { display: table-cell; width: 100%; vertical-align: top; -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -moz-box-flex: 1; -moz-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; }

_:-ms-lang(x), .grid .col-rest { display: block; }

ul li { list-style: none; }

* { font-size: 16px; }

*, *:before, *:after, *::before, *::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 100px; font-size: calc(100vw/3.75); }

body, .page { font-size: 0.14rem; }

html, body, .page { width: 100%; height: 100%; overflow: hidden; color: #666; font-family: PingFangSC-Regular,"Droid Sans Regular","Rotobo"; }

body { position: relative; overflow-x: hidden; }

.hidden { display: none; }

a { color: #666; }

@-webkit-keyframes stateLoading { 0% { -webkit-transform: rotate(0deg);
		transform: rotate(0deg); }
	24% { -webkit-transform: rotate(180deg);
		transform: rotate(180deg); }
	58% { -webkit-transform: rotate(290deg);
		transform: rotate(290deg); }
	100% { -webkit-transform: rotate(360deg);
		transform: rotate(360deg); } }

@keyframes stateLoading { 0% { -webkit-transform: rotate(0deg);
		transform: rotate(0deg); }
	24% { -webkit-transform: rotate(180deg);
		transform: rotate(180deg); }
	58% { -webkit-transform: rotate(290deg);
		transform: rotate(290deg); }
	100% { -webkit-transform: rotate(360deg);
		transform: rotate(360deg); } }

.icon-loading, #stateLoading { vertical-align: middle; width: 0.4rem; height: 0.4rem; border-radius: 100%; -webkit-animation: stateLoading 1s linear 0s infinite normal; animation: stateLoading 1s linear 0s infinite normal; border: 0.03rem solid blue; border-right-color: transparent; border-left-color: #2626ff; border-bottom-color: #8080ff; }

.arrow-left:before { content: ""; position: absolute; top: 0.11rem; left: 0.1rem; width: 0; height: 0; border-right: 0.11rem solid #666; border-bottom: 0.11rem solid transparent; border-top: 0.11rem solid transparent; }

.arrow-left:after { content: ""; position: absolute; top: 0.11rem; left: 0.12rem; width: 0; height: 0; border-right: 0.11rem solid white; border-bottom: 0.11rem solid transparent; border-top: 0.11rem solid transparent; }

.checkbox { -webkit-appearance: none; appearance: none; vertical-align: middle; width: 0.18rem; height: 0.18rem; border-radius: 50%; line-height: 0.16rem; color: #d6d6d6; border: 0.01rem solid; text-align: center; }

.checkbox:after { content: "\2713"; }

.checkbox:checked { color: white; background: blue; border-color: blue; }

.page { -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.header { -webkit-box-flex: 0; -webkit-flex: 0 0 0.44rem; -moz-box-flex: 0; -moz-flex: 0 0 0.44rem; -ms-flex: 0 0 0.44rem; flex: 0 0 0.44rem; position: relative; z-index: 10; background-color: rgba(255, 255, 255, 0.8); display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; text-align: center; }

.header .header, .header .header a { font-size: 0.18rem; color: #333; }

.header .page-title { font-size: 0.2rem; }

.header .action-left, .header .action-right { width: 0.5rem; height: 0.44rem; display: block; line-height: 0.44rem; }

.footer { -webkit-box-flex: 0; -webkit-flex: 0 0 0.44rem; -moz-box-flex: 0; -moz-flex: 0 0 0.44rem; -ms-flex: 0 0 0.44rem; flex: 0 0 0.44rem; }

.wrapper { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -moz-box-flex: 1; -moz-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; position: relative; font-size: 0.14rem; overflow: hidden; }

.wrapper.webkit-scroll { -webkit-overflow-scrolling: touch; overflow-y: scroll; overflow-x: hidden; }

.dialog-ctn { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 100; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; background-color: rgba(68, 68, 68, 0.68); }

@media \0screen\,screen\9 { .dialog-ctn { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#AD444444,endColorstr=#AD444444); } }

.dialog-ctn.hidden { display: none; }

.dialog-ctn .dialog-content { width: 85%; overflow: hidden; background: white; border-radius: 0.03rem; }

.dialog-ctn .dialog-content .dialog-main { padding: 0.06rem 0.1rem; min-height: 1rem; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; }

.dialog-ctn.loading-state { background-color: rgba(255, 255, 255, 0.5); }

.dialog-ctn.loading-state .dialog-content { padding: 0.06rem 0.10rem; background-color: transparent; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; }

@media \0screen\,screen\9 { .dialog-ctn.loading-state .dialog-content { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000); } }

.dialog-ctn.dialog-tip { background-color: rgba(255, 255, 255, 0.01); }

@media \0screen\,screen\9 { .dialog-ctn.dialog-tip { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#03FFFFFF,endColorstr=#03FFFFFF); } }

.dialog-ctn.dialog-tip .dialog-content { width: auto; max-width: 85%; min-width: 33.333%; padding: 0.12rem 0.25rem; background-color: rgba(0, 0, 0, 0.75); color: white; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; }

@media \0screen\,screen\9 { .dialog-ctn.dialog-tip .dialog-content { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000); } }

.btn-group { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; border-top: 0.01rem solid #e2e2e2; }

.btn-group span { -webkit-box-flex: 1; -webkit-flex: 1 1 50%; -moz-box-flex: 1; -moz-flex: 1 1 50%; -ms-flex: 1 1 50%; flex: 1 1 50%; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; text-align: center; line-height: 0.4rem; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; }

.btn-group .btn-submit { color: #28c4dc; border-left: 0.01rem solid #e2e2e2; }

.slide-ctn { position: fixed; top: 0; left: 0; z-index: 10; width: 100%; height: 100%; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-transform: translate3d(101%, 0, 0); transform: translate3d(101%, 0, 0); -webkit-transition: all 0.35s ease 0s; transition: all 0.35s ease 0s; background: white; }

.slide-ctn.slide-in { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.load-more { display: none; font: 16px SimHei; color: blue; height: 0.4rem; line-height: 0.4rem; text-align: center; }

.load-more .icon-loading { display: none; }

.load-more.state-preloading:before { content: '加载更多数据……'; vertical-align: middle; }

.load-more.state-loading, .load-more.state-preloading, .load-more.state-done { display: block; }

.load-more.state-loading:before { content: normal; }

.load-more.state-loading span { display: inline-block; }

.load-more.state-done:before { content: '无更多数据'; }

.load-more.state-done span { display: none; }
