@-webkit-keyframes radioOut { 0% { -webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
		filter: alpha(opacity=100); }
	70% { -webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0.5;
		filter: alpha(opacity=50); }
	90% { -webkit-transform: scale(2.5);
		transform: scale(2.5);
		opacity: 0.1;
		filter: alpha(opacity=10); }
	100% { -webkit-transform: scale(0);
		transform: scale(0);
		opacity: 0;
		filter: alpha(opacity=0); } }

@keyframes radioOut { 0% { -webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
		filter: alpha(opacity=100); }
	70% { -webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0.5;
		filter: alpha(opacity=50); }
	90% { -webkit-transform: scale(2.5);
		transform: scale(2.5);
		opacity: 0.1;
		filter: alpha(opacity=10); }
	100% { -webkit-transform: scale(0);
		transform: scale(0);
		opacity: 0;
		filter: alpha(opacity=0); } }

* { box-sizing: border-box; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; vertical-align: middle; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

.imge { display: inline-block; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before { display: inline-block; vertical-align: middle; }

.imgc:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib { display: inline-block; vertical-align: middle; }

.img-tight { font-size: 0; text-align: center; }

.img-tight:before { display: inline-block; vertical-align: middle; }

.img-tight:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-tight img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib-row { font-size: 0; }

.ib-row:before { display: inline-block; vertical-align: middle; }

.ib-row:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { display: inline-block; vertical-align: top; font-size: 12px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left; }

.txt-rt { text-align: right; }

.txt-ct { text-align: center; }

.txt-justify { text-align: justify; }

.txt-justify.ie-pure-txt { text-justify: distribute-all-lines; }

.txt-justify:after { content: ''; }

.txt-justify:after, .txt-justify .iecp { display: inline-block; vertical-align: middle; width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.txt-justify .i { display: inline-block; vertical-align: middle; font-style: normal; }

.vt-top { vertical-align: top; }

.vt-mid { vertical-align: middle; }

.vt-btm { vertical-align: bottom; }

.circle { line-height: 100px; }

.circle { width: 100px; height: 100px; position: relative; z-index: 1; text-align: center; }

.circle:before { content: ""; position: absolute; top: 0; left: 0; z-index: -2; border-left: 100px dotted red; border-top: 100px dotted red; }

.circle:after { content: ""; position: absolute; top: 1px; left: 1px; z-index: -1; border-left: 98px dotted white; border-top: 98px dotted white; }

@media screen and (min-width: 0px) { .circle { border-radius: 50%; border: 1px solid red; background: white; }
	.circle:before, .circle:after { content: normal; } }

.circle2 { line-height: 100px; }

.circle2 { width: 100px; height: 100px; position: relative; z-index: 1; text-align: center; }

.circle2:before { content: ""; position: absolute; top: 0; left: 0; z-index: -2; border-left: 100px dotted red; border-top: 100px dotted red; }

@media screen and (min-width: 0px) { .circle2 { border-radius: 50%; background: red; }
	.circle2:before, .circle2:after { content: normal; } }
