*, *:before, *:after, *::before, *::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; vertical-align: middle; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

.imge { display: inline-block; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before { display: inline-block; vertical-align: middle; }

.imgc:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib { display: inline-block; vertical-align: middle; }

.img-tight { font-size: 0; text-align: center; }

.img-tight:before { display: inline-block; vertical-align: middle; }

.img-tight:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-tight img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib-row { font-size: 0; }

.ib-row:before { display: inline-block; vertical-align: middle; }

.ib-row:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { display: inline-block; vertical-align: top; font-size: 12px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left; }

.txt-rt { text-align: right; }

.txt-ct { text-align: center; }

.txt-justify { text-align: justify; }

.txt-justify.ie-pure-txt { text-justify: distribute-all-lines; }

.txt-justify:after { content: ''; }

.txt-justify:after, .txt-justify .iecp { display: inline-block; vertical-align: middle; width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.txt-justify .i { display: inline-block; vertical-align: middle; font-style: normal; }

.vt-top { vertical-align: top; }

.vt-mid { vertical-align: middle; }

.vt-btm { vertical-align: bottom; }

.grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; display: table\9; width: 100%\9; table-layout: fixed\9; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; } }

.grid.layout-auto { table-layout: auto\9; }

.grid.grid-column { -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; display: block\9; }

.grid.grid-column > .col, .grid.grid-column > .col-reset { display: block; }

.grid.grid-column > .col-reset { height: 100%; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .grid.grid-column { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; } }

.grid .col { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -moz-box-flex: 0; -moz-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; display: table-cell\9; vertical-align: top\9; }

.grid .col:before { content: ""; display: block; width: auto; height: 0; line-height: 0; font-size: 0; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .grid .col { display: block; }
	.grid .col:before { content: normal; } }

.grid .col-rest { display: table-cell\9; width: 100%\9; vertical-align: top\9; -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -moz-box-flex: 1; -moz-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; }

@media all and (-ms-high-contrast: none) { .grid .col-rest { display: block; }
	*::-ms-backdrop, .grid .col-rest { flex-basis: 100%; } }

.grid .col-rest.grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; display: table\9; width: 100%\9; table-layout: fixed\9; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .grid .col-rest.grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; } }

.grid .col-rest.grid.layout-auto { table-layout: auto\9; }

.grid .col-rest.grid.grid-column { -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; display: block\9; }

.grid .col-rest.grid.grid-column > .col, .grid .col-rest.grid.grid-column > .col-reset { display: block; }

.grid .col-rest.grid.grid-column > .col-reset { height: 100%; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .grid .col-rest.grid.grid-column { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; } }

.circle { width: 100px; height: 100px; position: relative; z-index: 1; text-align: center; line-height: 100px; }

.circle:before { content: ""; position: absolute; top: 0; left: 0; z-index: -2; border-left: 100px dotted red; border-top: 100px dotted red; }

.circle:after { content: ""; position: absolute; top: 1px; left: 1px; z-index: -1; border-left: 98px dotted white; border-top: 98px dotted white; }

@media screen and (min-width: 0px) { .circle { border-radius: 50%; border: 1px solid red; background: white; }
	.circle:before, .circle:after { content: normal; } }

.circle2 { width: 100px; height: 100px; position: relative; z-index: 1; text-align: center; line-height: 100px; }

.circle2:before { content: ""; position: absolute; top: 0; left: 0; z-index: -2; border-left: 100px dotted red; border-top: 100px dotted red; }

@media screen and (min-width: 0px) { .circle2 { border-radius: 50%; background: red; }
	.circle2:before, .circle2:after { content: normal; } }
