*, *:before, *:after, *::before, *::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

.imge { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.img-tight { font-size: 0; text-align: center; }

.img-tight:before, .img-tight .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.img-tight:before, .img-tight .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-tight img { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib-row { font-size: 0; }

.ib-row:before, .ib-row .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.ib-row:before, .ib-row .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { display: inline-block; *display: inline; *zoom: 1; vertical-align: top; font-size: 12px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left; }

.txt-rt { text-align: right; }

.txt-ct { text-align: center; }

.txt-justify { text-align: justify; }

.txt-justify.ie-pure-txt { text-justify: distribute-all-lines; }

.txt-justify:after { content: ''; }

.txt-justify:after, .txt-justify .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.txt-justify .i { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-style: normal; }

.vt-top { vertical-align: top; }

.vt-mid { vertical-align: middle; }

.vt-btm { vertical-align: bottom; }

.vt-bsl { vertical-align: baseline; }

.grid { display: table; width: 100%; table-layout: fixed; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }

@media \0screen { .grid { display: table; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid { display: table; } }

.grid.layout-auto { table-layout: auto; }

.grid.grid-column { display: block; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }

.grid.grid-column > .col, .grid.grid-column > .col-reset { display: block; }

.grid.grid-column > .col-reset { height: 100%; }

.grid.vt-top { -webkit-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; -moz-align-items: flex-start; align-items: flex-start; }

.grid.vt-top .col, .grid.vt-top .col-rest { vertical-align: top; }

.grid.vt-btm { -webkit-box-align: end; -ms-flex-align: end; -webkit-align-items: flex-end; -moz-align-items: flex-end; align-items: flex-end; }

.grid.vt-btm .col, .grid.vt-btm .col-rest { vertical-align: bottom; }

.grid.vt-mid { -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; }

.grid.vt-mid .col, .grid.vt-mid .col-rest { vertical-align: middle; }

.grid.vt-bsl { -webkit-box-align: baseline; -ms-flex-align: baseline; -webkit-align-items: baseline; -moz-align-items: baseline; align-items: baseline; }

.grid.vt-bsl .col, .grid.vt-bsl .col-rest { vertical-align: baseline; }

.grid .col { display: table-cell; vertical-align: top; -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -moz-box-flex: 0; -moz-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; }

_:-ms-lang(x), .grid .col { display: block; }

.grid .col-rest { display: table-cell; width: 100%; vertical-align: top; -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -moz-box-flex: 1; -moz-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; }

_:-ms-lang(x), .grid .col-rest { display: block; }

.circle { width: 100px; height: 100px; text-align: center; border-radius: 50%; border: 1px solid red; background: white; line-height: 100px; }

@media \0screen { .circle { position: relative; z-index: 1; border: none; background: transparent; }
	.circle:before { content: ""; position: absolute; top: 0; left: 0; z-index: -2; border-left: 100px dotted red; border-top: 100px dotted red; }
	.circle:after { content: ""; position: absolute; top: 1px; left: 1px; z-index: -1; border-left: 98px dotted white; border-top: 98px dotted white; } }

.circle2 { width: 100px; height: 100px; text-align: center; border-radius: 50%; background: red; line-height: 100px; }

@media \0screen { .circle2 { position: relative; z-index: 1; border: none; background: transparent; }
	.circle2:before { content: ""; position: absolute; top: 0; left: 0; z-index: -2; border-left: 100px dotted red; border-top: 100px dotted red; } }

.map-control { position: absolute; bottom: 6px; left: 0; z-index: 2; text-align: center; }

.map-control ul, .map-control li { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.map-control ul { background-color: rgba(255, 255, 255, 0.3); padding: 0 3px; font-size: 0; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; }

@media \0screen\,screen\9 { .map-control ul { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4DFFFFFF,endColorstr=#4DFFFFFF); } }

.map-control li { -webkit-transition: background 0.6s; transition: background 0.6s; width: 12px; height: 12px; text-align: center; border-radius: 50%; background: #ccc; margin: 5px; cursor: pointer; }

@media \0screen { .map-control li { position: relative; z-index: 1; border: none; background: transparent; }
	.map-control li:before { content: ""; position: absolute; top: 0; left: 0; z-index: -2; border-left: 12px dotted #ccc; border-top: 12px dotted #ccc; } }

.map-control li.active { width: 12px; height: 12px; text-align: center; border-radius: 50%; background: white; }

@media \0screen { .map-control li.active { position: relative; z-index: 1; border: none; background: transparent; }
	.map-control li.active:before { content: ""; position: absolute; top: 0; left: 0; z-index: -2; border-left: 12px dotted white; border-top: 12px dotted white; } }

.slider { width: 870px; height: 400px; overflow: hidden; position: relative; }

.slider:hover .btn-prev, .slider:hover .btn-next { visibility: visible; opacity: 1; }

.slider .main-content { width: 100%; height: 100%; }

.slider .main-content li { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0; opacity: 0; filter: alpha(opacity=0); -webkit-transition: opacity 0.6s; transition: opacity 0.6s; }

.slider .main-content li.active { opacity: 1; filter: alpha(opacity=100); z-index: 1; }

.slider .main-content li a { display: block; width: 100%; height: 100%; font-size: 0; text-align: center; }

.slider .main-content li a:before, .slider .main-content li a .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.slider .main-content li a:before, .slider .main-content li a .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.slider .main-content li a img { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; max-width: 100%; max-height: 100%; }

.slider .btn-prev, .slider .btn-next { text-decoration: none; opacity: 0; visibility: hidden; color: white; -webkit-transition: opacity 0.6s; transition: opacity 0.6s; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; position: absolute; top: 50%; z-index: 2; width: 30px; height: 62px; background-color: rgba(0, 0, 0, 0.2); margin-top: -31px; text-align: center; font: 42px/62px SimSun; line-height: 66px\0; }

@media \0screen\,screen\9 { .slider .btn-prev, .slider .btn-next { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000); } }

.slider .btn-prev:hover, .slider .btn-next:hover { background-color: rgba(0, 0, 0, 0.5); }

@media \0screen\,screen\9 { .slider .btn-prev:hover, .slider .btn-next:hover { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000); } }

.slider .btn-prev { left: 0; }

.slider .btn-next { right: 0; }

.slider .map-control { width: 100%; }
