.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

audio, canvas, video, .imgc:before, .imgc .iecp, .imgc img, .imge, .ib, .img-ctn:before, .img-ctn .iecp, .img-ctn img, .ib-row:before, .ib-row .iecp, .ib-col, .ib-col-full, .txt-jt:after, .txt-jt .iecp, .state-list { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

*, *:before, *:after, *::before, *::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { vertical-align: middle; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { vertical-align: middle; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { vertical-align: middle; max-width: 100%; max-height: 100%; }

.imge { vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.ib { vertical-align: middle; }

.badge { border-radius: 50%; overflow: hidden; }

.img-ctn { font-size: 0; text-align: center; }

.img-ctn:before, .img-ctn .iecp { vertical-align: middle; }

.img-ctn:before, .img-ctn .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-ctn img { vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib-row { font-size: 0; }

.ib-row:before, .ib-row .iecp { vertical-align: middle; }

.ib-row:before, .ib-row .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { vertical-align: top; font-size: 12px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left; }

.txt-rt { text-align: right; }

.txt-ct { text-align: center; }

.txt-jt { text-align: justify; }

.txt-jt.ie-pure-txt { text-justify: distribute-all-lines; }

.txt-jt:after { content: ''; }

.txt-jt:after, .txt-jt .iecp { vertical-align: middle; width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.vt-top { vertical-align: top; }

.vt-mid { vertical-align: middle; }

.vt-btm { vertical-align: bottom; }

.vt-bsl { vertical-align: baseline; }

.grid { display: table; width: 100%; table-layout: fixed; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }

@media \0screen { .grid { display: table; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid { display: table; } }

.grid.layout-auto { table-layout: auto; }

.grid.grid-column { display: block; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }

.grid.grid-column > .col, .grid.grid-column > .col-reset { display: block; }

.grid.grid-column > .col-reset { height: 100%; }

.grid.vt-top { -webkit-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; -moz-align-items: flex-start; align-items: flex-start; }

.grid.vt-top .col, .grid.vt-top .col-rest { vertical-align: top; }

.grid.vt-btm { -webkit-box-align: end; -ms-flex-align: end; -webkit-align-items: flex-end; -moz-align-items: flex-end; align-items: flex-end; }

.grid.vt-btm .col, .grid.vt-btm .col-rest { vertical-align: bottom; }

.grid.vt-mid { -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; }

.grid.vt-mid .col, .grid.vt-mid .col-rest { vertical-align: middle; }

.grid.vt-bsl { -webkit-box-align: baseline; -ms-flex-align: baseline; -webkit-align-items: baseline; -moz-align-items: baseline; align-items: baseline; }

.grid.vt-bsl .col, .grid.vt-bsl .col-rest { vertical-align: baseline; }

.grid .col { display: table-cell; vertical-align: top; -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -moz-box-flex: 0; -moz-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; }

_:-ms-lang(x), .grid .col { display: block; }

.grid .col-rest { display: table-cell; width: 100%; vertical-align: top; -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -moz-box-flex: 1; -moz-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; }

_:-ms-lang(x), .grid .col-rest { display: block; }

.state-list { width: 200px; vertical-align: middle; }

.state-list li { cursor: pointer; }

.list1 li { position: relative; margin-left: 50px; height: 60px; line-height: 60px; list-style: none; }

.list1 li:before { position: absolute; top: -30px; left: -30px; content: ''; height: 60px; border-left: 2px solid #999; }

.list1 li:first-child:before { display: none; }

.list1 li:after { position: absolute; top: 20px; left: -39px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; box-shadow: 0 0 5px currentcolor; z-index: 1; content: ''; border: 10px solid #999; }

.list1 li.state-active, .list1 li:hover { color: red; }

.list1 li.state-active:before, .list1 li:hover:before { border-color: #999; }

.list1 li.state-active:after, .list1 li:hover:after { border-color: red; box-shadow: 0 0 5px red; }

.list2 li { position: relative; margin-left: 50px; height: 60px; line-height: 60px; list-style: none; }

.list2 li:before { position: absolute; top: -30px; left: -30px; content: ''; height: 60px; border-left: 4px solid #999; }

.list2 li:first-child:before { display: none; }

.list2 li:after { position: absolute; top: 20px; left: -38px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; box-shadow: 0 0 5px currentcolor; z-index: 1; content: ''; border: 10px solid #999; }

.list2 li.state-active, .list2 .list1 li:hover, .list1 .list2 li:hover { color: red; }

.list2 li.state-active:before, .list2 .list1 li:hover:before, .list1 .list2 li:hover:before { border-color: red; }

.list2 li.state-active:after, .list2 .list1 li:hover:after, .list1 .list2 li:hover:after { border-color: red; box-shadow: 0 0 5px red; }

.list3 li { position: relative; margin-left: 90px; height: 60px; line-height: 60px; list-style: none; }

.list3 li:before { position: absolute; top: -30px; left: -80px; content: ''; height: 60px; border-left: 2px solid #999; }

.list3 li:first-child:before { display: none; }

.list3 li:after { position: absolute; top: 25px; left: -84px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; box-shadow: 0 0 5px currentcolor; z-index: 1; content: ''; border: 5px solid #999; }

.list3 li.state-active, .list3 .list1 li:hover, .list1 .list3 li:hover { color: red; }

.list3 li.state-active:before, .list3 .list1 li:hover:before, .list1 .list3 li:hover:before { border-color: #999; }

.list3 li.state-active:after, .list3 .list1 li:hover:after, .list1 .list3 li:hover:after { border-color: red; box-shadow: 0 0 5px red; }

.list4 li { position: relative; margin-left: 50px; height: 60px; line-height: 60px; list-style: none; }

.list4 li:before { position: absolute; top: -30px; left: -30px; content: ''; height: 60px; border-left: 2px solid #999; }

.list4 li:first-child:before { display: none; }

.list4 li:after { position: absolute; top: 20px; left: -39px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; box-shadow: 0 0 5px currentcolor; z-index: 1; content: ''; border: 10px solid #999; }

.list4 li.state-active, .list4 .list1 li:hover, .list1 .list4 li:hover { color: red; }

.list4 li.state-active:before, .list4 .list1 li:hover:before, .list1 .list4 li:hover:before { border-color: #999; }

.list4 li.state-active:after, .list4 .list1 li:hover:after, .list1 .list4 li:hover:after { border-color: red; box-shadow: 0 0 5px red; }

.state-step { width: 70%; padding: 50px 150px 80px; margin: auto; }

.state-step .step-progress { position: relative; height: 8px; background: #ccc; }

.state-step .step-progress-done { position: absolute; top: 0; left: 0; height: 8px; background: #0dffaf; }

.state-step .step-position { width: 28px; height: 28px; position: absolute; top: -10px; margin-left: -7px; font: 18px/28px "Microsoft YaHei"; text-align: center; color: white; }

@media screen and (min-width: 0) { .state-step .step-position { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; background-color: #ccc; } }

.state-step .step-position .step-arrow { display: block; width: 0; height: 0; margin-top: -22px; margin-left: -12px; border: 12px solid #ccc; border-right: 0px solid white; border-top: 8px solid white; border-bottom: 8px solid white; }

.state-step .step-position .step-arrow.arrow-done { border-left-color: #0dffaf; }

@media screen and (min-width: 0) { .state-step .step-position.position-done { background-color: #0dffaf; } }

.state-step .step-position.position-done .step-arrow { border-left-color: #0dffaf; }

.state-step .step-position.first-position .step-arrow { border-color: transparent; }

.state-step .step-position .step-label { font: 12px/normal NSimSun; color: #999; margin-top: 20px; width: 500%; margin-left: -200%; }
