*, *:before, *:after, *::before, *::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, hr, pre, code, p, blockquote, th, td { margin: 0; padding: 0; }

html { margin: 0; }

html, button, input, select, textarea { font: 14px/normal "\5b8b\4f53","Microsoft YaHei"; color: #000; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

fieldset, img { border: none; }

[hidden] { display: none; }

:focus { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; vertical-align: middle; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

.imge { display: inline-block; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before { display: inline-block; vertical-align: middle; }

.imgc:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib { display: inline-block; vertical-align: middle; }

.img-tight { font-size: 0; text-align: center; }

.img-tight:before { display: inline-block; vertical-align: middle; }

.img-tight:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-tight img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }

.ib-row { font-size: 0; }

.ib-row:before { display: inline-block; vertical-align: middle; }

.ib-row:before { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { display: inline-block; vertical-align: top; font-size: 12px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left; }

.txt-rt { text-align: right; }

.txt-ct { text-align: center; }

.txt-justify { text-align: justify; }

.txt-justify.ie-pure-txt { text-justify: distribute-all-lines; }

.txt-justify:after { content: ''; }

.txt-justify:after, .txt-justify .iecp { display: inline-block; vertical-align: middle; width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.txt-justify .i { display: inline-block; vertical-align: middle; font-style: normal; }

.vt-top { vertical-align: top; }

.vt-mid { vertical-align: middle; }

.vt-btm { vertical-align: bottom; }

.grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; display: table\9; width: 100%\9; table-layout: fixed\9; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; } }

.grid.layout-auto { table-layout: auto\9; }

.grid.grid-column { -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; display: block\9; }

.grid.grid-column > .col, .grid.grid-column > .col-reset { display: block; }

.grid.grid-column > .col-reset { height: 100%; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .grid.grid-column { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; } }

.grid .col { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -moz-box-flex: 0; -moz-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; display: table-cell\9; vertical-align: top\9; }

.grid .col:before { content: ""; display: block; width: auto; height: 0; line-height: 0; font-size: 0; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .grid .col { display: block; }
	.grid .col:before { content: normal; } }

.grid .col-rest { display: table-cell\9; width: 100%\9; vertical-align: top\9; -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -moz-box-flex: 1; -moz-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; }

@media all and (-ms-high-contrast: none) { .grid .col-rest { display: block; }
	*::-ms-backdrop, .grid .col-rest { flex-basis: 100%; } }

.grid .col-rest.grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; display: table\9; width: 100%\9; table-layout: fixed\9; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .grid .col-rest.grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; } }

.grid .col-rest.grid.layout-auto { table-layout: auto\9; }

.grid .col-rest.grid.grid-column { -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; display: block\9; }

.grid .col-rest.grid.grid-column > .col, .grid .col-rest.grid.grid-column > .col-reset { display: block; }

.grid .col-rest.grid.grid-column > .col-reset { height: 100%; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .grid .col-rest.grid.grid-column { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; } }

.state-list { width: 200px; display: inline-block; vertical-align: middle; }

.state-list li { cursor: pointer; }

.list1 li { position: relative; margin-left: 50px; height: 60px; line-height: 60px; list-style: none; }

.list1 li:before { position: absolute; top: -30px; left: -30px; content: ''; height: 60px; border-left: 2px solid #999; }

.list1 li:first-child:before { display: none; }

.list1 li:after { position: absolute; top: 20px; left: -39px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; box-shadow: 0 0 5px currentcolor; z-index: 1; content: ''; border: 10px solid #999; }

.list1 li.state-active, .list1 li:hover { color: red; }

.list1 li.state-active:before, .list1 li:hover:before { border-color: #999; }

.list1 li.state-active:after, .list1 li:hover:after { border-color: red; box-shadow: 0 0 5px red; }

.list2 li { position: relative; margin-left: 50px; height: 60px; line-height: 60px; list-style: none; }

.list2 li:before { position: absolute; top: -30px; left: -30px; content: ''; height: 60px; border-left: 4px solid #999; }

.list2 li:first-child:before { display: none; }

.list2 li:after { position: absolute; top: 20px; left: -38px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; box-shadow: 0 0 5px currentcolor; z-index: 1; content: ''; border: 10px solid #999; }

.list2 li.state-active, .list2 .list1 li:hover, .list1 .list2 li:hover { color: red; }

.list2 li.state-active:before, .list2 .list1 li:hover:before, .list1 .list2 li:hover:before { border-color: red; }

.list2 li.state-active:after, .list2 .list1 li:hover:after, .list1 .list2 li:hover:after { border-color: red; box-shadow: 0 0 5px red; }

.list3 li { position: relative; margin-left: 90px; height: 60px; line-height: 60px; list-style: none; }

.list3 li:before { position: absolute; top: -30px; left: -80px; content: ''; height: 60px; border-left: 2px solid #999; }

.list3 li:first-child:before { display: none; }

.list3 li:after { position: absolute; top: 25px; left: -84px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; box-shadow: 0 0 5px currentcolor; z-index: 1; content: ''; border: 5px solid #999; }

.list3 li.state-active, .list3 .list1 li:hover, .list1 .list3 li:hover { color: red; }

.list3 li.state-active:before, .list3 .list1 li:hover:before, .list1 .list3 li:hover:before { border-color: #999; }

.list3 li.state-active:after, .list3 .list1 li:hover:after, .list1 .list3 li:hover:after { border-color: red; box-shadow: 0 0 5px red; }

.list4 li { position: relative; margin-left: 50px; height: 60px; line-height: 60px; list-style: none; }

.list4 li:before { position: absolute; top: -30px; left: -30px; content: ''; height: 60px; border-left: 2px solid #999; }

.list4 li:first-child:before { display: none; }

.list4 li:after { position: absolute; top: 20px; left: -39px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; box-shadow: 0 0 5px currentcolor; z-index: 1; content: ''; border: 10px solid #999; }

.list4 li.state-active, .list4 .list1 li:hover, .list1 .list4 li:hover { color: red; }

.list4 li.state-active:before, .list4 .list1 li:hover:before, .list1 .list4 li:hover:before { border-color: #999; }

.list4 li.state-active:after, .list4 .list1 li:hover:after, .list1 .list4 li:hover:after { border-color: red; box-shadow: 0 0 5px red; }

.state-step { width: 70%; padding: 50px 150px 80px; margin: auto; }

.state-step .step-progress { position: relative; height: 8px; background: #ccc; }

.state-step .step-progress-done { position: absolute; top: 0; left: 0; height: 8px; background: #0dffaf; }

.state-step .step-position { width: 28px; height: 28px; position: absolute; top: -10px; margin-left: -7px; font: 18px/28px "Microsoft YaHei"; text-align: center; color: white; }

@media screen and (min-width: 0px) { .state-step .step-position { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; background-color: #ccc; } }

.state-step .step-position .step-arrow { display: block; width: 0; height: 0; margin-top: -22px; margin-left: -12px; border: 12px solid #ccc; border-right: 0px solid white; border-top: 8px solid white; border-bottom: 8px solid white; }

.state-step .step-position .step-arrow.arrow-done { border-left-color: #0dffaf; }

@media screen and (min-width: 0px) { .state-step .step-position.position-done { background-color: #0dffaf; } }

.state-step .step-position.position-done .step-arrow { border-left-color: #0dffaf; }

.state-step .step-position.first-position .step-arrow { border-color: transparent; }

.state-step .step-position .step-label { font: 12px/normal NSimSun; color: #999; margin-top: 20px; width: 500%; margin-left: -200%; }
