.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

.imgc:before, .imgc .iecp, .imgc img, .imge, .ib, .img-ctn:before, .img-ctn .iecp, .img-ctn img, .ib-row:before, .ib-row .iecp, .ib-col, .ib-col-full, .txt-jt:after, .txt-jt .iecp, .navi-box a { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { max-width: 100%; max-height: 100%; }

.imge { vertical-align: middle; font-size: 14px; font-size: 1rem; line-height: normal; }

.badge { border-radius: 50%; overflow: hidden; }

.img-ctn { font-size: 0; text-align: center; white-space: nowrap; }

.img-ctn:before, .img-ctn .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-ctn img { max-width: 100%; max-height: 100%; }

.flex-img-ctn { position: relative; left: auto; left: auto; left: auto; left: auto; }

.flex-img-ctn > img, .flex-img-ctn .img-ctn { position: absolute; left: auto; top: 0; left: auto; left: auto; left: auto; left: 0; width: 100%; }

.flex-img-ctn .img-ctn { height: 100%; }

.ib-row { font-size: 0; text-align: left; }

.ib-row:before, .ib-row .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { vertical-align: top; font-size: 14px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left !important; }

.txt-rt { text-align: right !important; }

.txt-ct { text-align: center !important; }

.txt-jt { text-align: justify !important; }

.txt-jt.ie-pure-txt { text-justify: distribute-all-lines !important; }

.txt-jt:after { content: ''; }

.txt-jt:after, .txt-jt .iecp { width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.txt-clean * { text-align: left !important; float: none !important; vertical-align: baseline !important; background: transparent !important; text-decoration: none !important; font-size: 14px !important; font-size: inherit !important; border: none !important; box-shadow: none !important; display: inline !important; margin: 0 !important; padding: 0 !important; height: auto !important; width: auto !important; font-weight: normal !important; font-weight: inherit !important; line-height: normal !important; line-height: inherit !important; color: #666 !important; color: inherit !important; }

.txt-clean *:empty { display: none; }

.txt-clean *:before { content: normal; }

.txt-clean *:after { content: normal; }

.txt-clean, .txt-clean * { word-break: break-all !important; word-wrap: break-word !important; }

.txt-clean a, .txt-clean button, .txt-clean input { pointer-events: none !important; }

.txt-clean br, .txt-clean img { display: none !important; }

.vt-top { vertical-align: top !important; }

.vt-mid { vertical-align: middle !important; }

.vt-btm { vertical-align: bottom !important; }

.vt-bsl { vertical-align: baseline !important; }

.grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; width: 100%; }

@media \0screen { .grid { display: table; }
	.grid.layout-auto { table-layout: auto; }
	.grid.layout-fixed { table-layout: fixed; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid { display: table; }
	.grid.layout-auto { table-layout: auto; }
	.grid.layout-fixed { table-layout: fixed; } }

.grid.inline-grid { display: -webkit-inline-box; display: -webkit-inline-flex; display: -moz-inline-flex; display: -ms-inline-flexbox; display: inline-flex; width: auto; }

@media \0screen { .grid.inline-grid { display: inline-table; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid.inline-grid { display: inline-table; } }

.grid.grid-column { display: block; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }

.grid.grid-column > .col, .grid.grid-column > .col-reset { display: block; }

.grid.grid-column > .col-reset { height: 100%; }

.grid.inline-grid { display: -webkit-inline-box; display: -webkit-inline-flex; display: -moz-inline-flex; display: -ms-inline-flexbox; display: inline-flex; width: auto; }

@media \0screen { .grid.inline-grid { display: inline-table; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid.inline-grid { display: inline-table; } }

.grid.vt-top { -webkit-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; -moz-align-items: flex-start; align-items: flex-start; }

.grid.vt-top .col, .grid.vt-top .col-rest { vertical-align: top; }

.grid.vt-btm { -webkit-box-align: end; -ms-flex-align: end; -webkit-align-items: flex-end; -moz-align-items: flex-end; align-items: flex-end; }

.grid.vt-btm .col, .grid.vt-btm .col-rest { vertical-align: bottom; }

.grid.vt-mid { -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; }

.grid.vt-mid .col, .grid.vt-mid .col-rest { vertical-align: middle; }

.grid.vt-bsl { -webkit-box-align: baseline; -ms-flex-align: baseline; -webkit-align-items: baseline; -moz-align-items: baseline; align-items: baseline; }

.grid.vt-bsl .col, .grid.vt-bsl .col-rest { vertical-align: baseline; }

.grid .col { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -moz-box-flex: 0; -moz-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; }

@media \0screen { .grid .col { display: table-cell; vertical-align: top; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid .col { display: table-cell; vertical-align: top; } }

_:-ms-lang(x), .grid .col { display: inline-block\9; }

.grid .col-rest { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -moz-box-flex: 1; -moz-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; width: 100%; }

@media \0screen { .grid .col-rest { display: table-cell; vertical-align: top; } }

@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) { .grid .col-rest { display: table-cell; vertical-align: top; } }

_:-ms-lang(x), .grid .col-rest { display: inline-block\9; }

/* Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org> */
.hljs { display: block; overflow-x: auto; padding: 0.5em; background: #eaeaea; -webkit-text-size-adjust: none; }

.hljs, .hljs-subst, .hljs-tag .hljs-title, .nginx .hljs-title { color: black; }

.hljs-string, .hljs-title, .hljs-constant, .hljs-parent, .hljs-tag .hljs-value, .hljs-rule .hljs-value, .hljs-preprocessor, .hljs-pragma, .hljs-name, .haml .hljs-symbol, .ruby .hljs-symbol, .ruby .hljs-symbol .hljs-string, .hljs-template_tag, .django .hljs-variable, .smalltalk .hljs-class, .hljs-addition, .hljs-flow, .hljs-stream, .bash .hljs-variable, .pf .hljs-variable, .apache .hljs-tag, .apache .hljs-cbracket, .tex .hljs-command, .tex .hljs-special, .erlang_repl .hljs-function_or_atom, .asciidoc .hljs-header, .markdown .hljs-header, .coffeescript .hljs-attribute, .tp .hljs-variable { color: #800; }

.smartquote, .hljs-comment, .hljs-annotation, .diff .hljs-header, .hljs-chunk, .asciidoc .hljs-blockquote, .markdown .hljs-blockquote { color: #888; }

.hljs-number, .hljs-date, .hljs-regexp, .hljs-literal, .hljs-hexcolor, .smalltalk .hljs-symbol, .smalltalk .hljs-char, .go .hljs-constant, .hljs-change, .lasso .hljs-variable, .makefile .hljs-variable, .asciidoc .hljs-bullet, .markdown .hljs-bullet, .asciidoc .hljs-link_url, .markdown .hljs-link_url { color: #080; }

.hljs-label, .ruby .hljs-string, .hljs-decorator, .hljs-filter .hljs-argument, .hljs-localvars, .hljs-array, .hljs-attr_selector, .hljs-important, .hljs-pseudo, .hljs-pi, .haml .hljs-bullet, .hljs-doctype, .hljs-deletion, .hljs-envvar, .hljs-shebang, .apache .hljs-sqbracket, .nginx .hljs-built_in, .tex .hljs-formula, .erlang_repl .hljs-reserved, .hljs-prompt, .asciidoc .hljs-link_label, .markdown .hljs-link_label, .vhdl .hljs-attribute, .clojure .hljs-attribute, .asciidoc .hljs-attribute, .lasso .hljs-attribute, .coffeescript .hljs-property, .hljs-phony { color: #88f; }

.hljs-keyword, .hljs-id, .hljs-title, .hljs-built_in, .css .hljs-tag, .hljs-doctag, .smalltalk .hljs-class, .hljs-winutils, .bash .hljs-variable, .pf .hljs-variable, .apache .hljs-tag, .hljs-type, .hljs-typename, .tex .hljs-command, .asciidoc .hljs-strong, .markdown .hljs-strong, .hljs-request, .hljs-status, .tp .hljs-data, .tp .hljs-io { font-weight: bold; }

.asciidoc .hljs-emphasis, .markdown .hljs-emphasis, .tp .hljs-units { font-style: italic; }

.nginx .hljs-built_in { font-weight: normal; }

.coffeescript .javascript, .javascript .xml, .lasso .markup, .tex .hljs-formula, .xml .javascript, .xml .vbscript, .xml .css, .xml .hljs-cdata { opacity: 0.5; }

html { font: normal 16px/normal "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",sans-serif; }

html, html body { padding: 0; margin: 0; }

html.full-screen { background: #ade8aa; background: linear-gradient(0deg, #3b9739, #ade8aa); filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ade8aa,endColorStr=#3b9739); _background: #ade8aa; }

html.full-screen, html.full-screen body { height: 100%; overflow: hidden; }

html.full-screen #page, html.full-screen .home-page { height: 100%; }

@-webkit-keyframes dropDown { 0% { transform: translateY(-490%); }
	50% { transform: translateY(-248%); }
	65% { transform: translateY(60%); }
	80% { transform: translateY(-32%); }
	95% { transform: translateY(18%); }
	100% { transform: translateY(0); } }

@keyframes dropDown { 0% { transform: translateY(-490%); }
	50% { transform: translateY(-248%); }
	65% { transform: translateY(60%); }
	80% { transform: translateY(-32%); }
	95% { transform: translateY(18%); }
	100% { transform: translateY(0); } }

.navi-box { width: 505px; animation: dropDown 0.512s linear; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; background-color: rgba(0, 0, 0, 0.3); text-align: center; _background: #22701e; overflow: hidden; padding: 20px; color: white; }

@media screen and (max-width: 640px) { .navi-box { width: 80%; } }

@media \0screen { .navi-box { background-color: transparent; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D000000, endColorstr=#4D000000); } }

.navi-box h1, .navi-box h3 { font-size: 25px; margin-bottom: 10px; text-align: center; font-weight: normal; }

.navi-box h3 { font-size: 16px; }

.navi-box a { box-sizing: border-box; width: 133px; height: 32px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; line-height: 30px; border: 1px solid #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: rgba(255, 255, 255, 0); box-shadow: 0 12.8px 16.8px -11.2px rgba(8, 8, 8, 0); text-align: center; background: transparent; cursor: pointer; text-decoration: none; -webkit-transition: background,box-shadow 0.35s ease-out; transition: background,box-shadow 0.35s ease-out; margin: 5px; _margin: 5px 11px; transition: background,color 0.314s ease-in 0s; font-size: 16px; text-decoration: none; color: white; }

.navi-box a:hover { background-color: rgba(13, 13, 13, 0); }

.navi-box a:active { box-shadow: 0 13.76px 21.92px -8px rgba(0, 0, 0, 0); background-color: rgba(0, 0, 0, 0); }

.navi-box a:hover { background: white; color: #666; /*transform:rotate(3deg);*/ }

.wrap { width: 980px; margin: auto; }

@media screen and (max-width: 640px) { .wrap { width: auto; } }

.article-page .md-ctn { padding: 4px; background: #feffef; }

.article-page .md-ctn table { margin: 8px 0; table-layout: fixed; border-collapse: collapse; border: 1px black #666; }

.article-page .md-ctn th, .article-page .md-ctn td { padding: 2px 4px; border: 1px #666 solid; word-break: break-all; word-wrap: break-word; }

.article-page .md-ctn sub, .article-page .md-ctn sup { font-size: 10px; }

.article-page .md-ctn p { text-indent: 32px; text-indent: 2rem; }

.article-page .md-ctn h1, .article-page .md-ctn h2, .article-page .md-ctn h3, .article-page .md-ctn h4, .article-page .md-ctn h5, .article-page .md-ctn h6 { line-height: 1.2; font-family: SimHei; }

.article-page .md-ctn h1 { margin: 1.024em; text-align: center; }

.article-page .md-ctn h2, .article-page .md-ctn h3, .article-page .md-ctn h4, .article-page .md-ctn h5, .article-page .md-ctn h6 { margin: 2em 0 1em 0; position: relative; left: auto; left: auto; left: auto; left: auto; text-indent: 12px; }

.article-page .md-ctn h2:before, .article-page .md-ctn h3:before, .article-page .md-ctn h4:before, .article-page .md-ctn h5:before, .article-page .md-ctn h6:before { content: ''; display: block; width: 4px; height: 100%; position: absolute; left: auto; left: auto; left: auto; left: auto; left: 0; background: #333; }

.article-page .md-ctn h1 { font-size: 22px; }

.article-page .md-ctn h2 { font-size: 20px; }

.article-page .md-ctn h3 { font-size: 18px; }

.article-page .md-ctn h4 { font-size: 16px; }

.article-page .md-ctn h5 { font-size: 14px; }

.article-page .md-ctn h6 { font-size: 12px; }

.article-page .md-ctn pre { margin: 0; }

.article-page .md-ctn p { padding: 15px; background: #eaeaea; border-left: 4px solid #333; margin: 1em 0; }

.article-bar { padding: 16px; background: #3b9739; }

.article-bar a { margin-right: 4px; color: white; font: 14px "Microsoft YaHei"; }
