@charset "utf-8";
.layout-container{height:100%;}
.layout-middle-container{
	.resize-bar,.layout-west,.layout-center,.layout-east{height:100%;}
	.layout-west,.bar-west{float:left;}
	.layout-east,.bar-east{float:right;}
}
.layout-west,.layout-east,.layout-center{overflow:auto;_float:left;}
.resize-bar{
	background:#cecece;cursor:n-resize;text-align:center;
	.ib-col{
		background:#333;@include size(20px,100%);
		&:hover{background:darken(#333,50%);}
	}
}
.bar-west,.bar-east{
	cursor:e-resize;
	.ib-col{@include size(100%,20px);}
}
.layout-south,.layout-north{height:25px;}
.layout-west,.layout-east{width:210px;}
.drag-image{@include absolute(null,100);@include background-color-rgba(#000,0.35);}
