.cf { *zoom: 1; }

.cf:before, .cf:after { content: ""; display: table; }

.cf:after { clear: both; overflow: hidden; }

.imgc:before, .imgc .iecp, .imgc img, .ib, .img-tight:before, .img-tight .iecp, .img-tight img, .ib-row:before, .ib-row .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }

.imge { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-size: 12px; font-size: 1rem; line-height: normal; }

.imgc { font-size: 0; text-align: center; }

.imgc:before, .imgc .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.imgc img { max-width: 100%; max-height: 100%; }

@keyframes radioOut { 0% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		/*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		/*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ } }

@-webkit-keyframes radioOut { 0% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		/*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		/*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ } }

@-moz-keyframes radioOut { 0% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		/*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		/*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ } }

@-o-keyframes radioOut { 0% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		/*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		-o-transform: scale(2);
		transform: scale(2);
		/*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		/*@include opacity(0);*/ } }

@-ms-keyframes radioOut { 0% { -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); /*@include opacity(0);*/ }
	30% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); /*@include opacity(1);*/ }
	99.999% { -webkit-transform: scale(2); -moz-transform: scale(2); -ms-transform: scale(2); -o-transform: scale(2); transform: scale(2); /*@include opacity(0);*/ }
	100% { -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); /*@include opacity(0);*/ } }

.img-tight { font-size: 0; text-align: center; }

.img-tight:before, .img-tight .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.img-tight img { max-width: 100%; max-height: 100%; }

.ib-row { font-size: 0; }

.ib-row:before, .ib-row .iecp { content: ""; height: 100%; font-size: 0; line-height: 0; width: 0; }

.ib-col, .ib-col-full { display: inline-block; *display: inline; *zoom: 1; vertical-align: top; font-size: 12px; font-size: 1rem; line-height: normal; }

.ib-col-full { width: 100%; }

.ib-row.ib-col, .ib-row.ib-col-full { font-size: 0; }

.txt-lt { text-align: left; }

.txt-rt { text-align: right; }

.txt-ct { text-align: center; }

.txt-justify { text-align: justify; }

.txt-justify.ie-pure-txt { text-justify: distribute-all-lines; }

.txt-justify:after { content: ''; }

.txt-justify:after, .txt-justify .iecp { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; width: 100%; height: 0px; overflow: hidden; line-height: 0; padding: 0; border: none; }

.txt-justify .i { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; font-style: normal; }

.vt-top { vertical-align: top; }

.vt-mid { vertical-align: middle; }

.vt-btm { vertical-align: bottom; }

/* Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org> */
.hljs { display: block; overflow-x: auto; padding: 0.5em; background: #f0f0f0; -webkit-text-size-adjust: none; }

.hljs, .hljs-subst, .hljs-tag .hljs-title, .nginx .hljs-title { color: black; }

.hljs-string, .hljs-title, .hljs-constant, .hljs-parent, .hljs-tag .hljs-value, .hljs-rule .hljs-value, .hljs-preprocessor, .hljs-pragma, .hljs-name, .haml .hljs-symbol, .ruby .hljs-symbol, .ruby .hljs-symbol .hljs-string, .hljs-template_tag, .django .hljs-variable, .smalltalk .hljs-class, .hljs-addition, .hljs-flow, .hljs-stream, .bash .hljs-variable, .pf .hljs-variable, .apache .hljs-tag, .apache .hljs-cbracket, .tex .hljs-command, .tex .hljs-special, .erlang_repl .hljs-function_or_atom, .asciidoc .hljs-header, .markdown .hljs-header, .coffeescript .hljs-attribute, .tp .hljs-variable { color: #800; }

.smartquote, .hljs-comment, .hljs-annotation, .diff .hljs-header, .hljs-chunk, .asciidoc .hljs-blockquote, .markdown .hljs-blockquote { color: #888; }

.hljs-number, .hljs-date, .hljs-regexp, .hljs-literal, .hljs-hexcolor, .smalltalk .hljs-symbol, .smalltalk .hljs-char, .go .hljs-constant, .hljs-change, .lasso .hljs-variable, .makefile .hljs-variable, .asciidoc .hljs-bullet, .markdown .hljs-bullet, .asciidoc .hljs-link_url, .markdown .hljs-link_url { color: #080; }

.hljs-label, .ruby .hljs-string, .hljs-decorator, .hljs-filter .hljs-argument, .hljs-localvars, .hljs-array, .hljs-attr_selector, .hljs-important, .hljs-pseudo, .hljs-pi, .haml .hljs-bullet, .hljs-doctype, .hljs-deletion, .hljs-envvar, .hljs-shebang, .apache .hljs-sqbracket, .nginx .hljs-built_in, .tex .hljs-formula, .erlang_repl .hljs-reserved, .hljs-prompt, .asciidoc .hljs-link_label, .markdown .hljs-link_label, .vhdl .hljs-attribute, .clojure .hljs-attribute, .asciidoc .hljs-attribute, .lasso .hljs-attribute, .coffeescript .hljs-property, .hljs-phony { color: #88f; }

.hljs-keyword, .hljs-id, .hljs-title, .hljs-built_in, .css .hljs-tag, .hljs-doctag, .smalltalk .hljs-class, .hljs-winutils, .bash .hljs-variable, .pf .hljs-variable, .apache .hljs-tag, .hljs-type, .hljs-typename, .tex .hljs-command, .asciidoc .hljs-strong, .markdown .hljs-strong, .hljs-request, .hljs-status, .tp .hljs-data, .tp .hljs-io { font-weight: bold; }

.asciidoc .hljs-emphasis, .markdown .hljs-emphasis, .tp .hljs-units { font-style: italic; }

.nginx .hljs-built_in { font-weight: normal; }

.coffeescript .javascript, .javascript .xml, .lasso .markup, .tex .hljs-formula, .xml .javascript, .xml .vbscript, .xml .css, .xml .hljs-cdata { opacity: 0.5; }

html { font: normal 16px/normal "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",sans-serif; }

html, html body { padding: 0; margin: 0; }

html.full-screen { background: #ade8aa; background: linear-gradient(0deg, #3b9739, #ade8aa); filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ade8aa,endColorStr=#3b9739); _background: #ade8aa; }

html.full-screen, html.full-screen body { height: 100%; overflow: hidden; }

html.full-screen #page, html.full-screen .home-page { height: 100%; }

@keyframes dropDown { 0% { transform: translateY(-490%); }
	50% { transform: translateY(-248%); }
	65% { transform: translateY(60%); }
	80% { transform: translateY(-32%); }
	95% { transform: translateY(18%); }
	100% { transform: translateY(0); } }

@-webkit-keyframes dropDown { 0% { transform: translateY(-490%); }
	50% { transform: translateY(-248%); }
	65% { transform: translateY(60%); }
	80% { transform: translateY(-32%); }
	95% { transform: translateY(18%); }
	100% { transform: translateY(0); } }

@-moz-keyframes dropDown { 0% { transform: translateY(-490%); }
	50% { transform: translateY(-248%); }
	65% { transform: translateY(60%); }
	80% { transform: translateY(-32%); }
	95% { transform: translateY(18%); }
	100% { transform: translateY(0); } }

@-o-keyframes dropDown { 0% { transform: translateY(-490%); }
	50% { transform: translateY(-248%); }
	65% { transform: translateY(60%); }
	80% { transform: translateY(-32%); }
	95% { transform: translateY(18%); }
	100% { transform: translateY(0); } }

@-ms-keyframes dropDown { 0% { transform: translateY(-490%); }
	50% { transform: translateY(-248%); }
	65% { transform: translateY(60%); }
	80% { transform: translateY(-32%); }
	95% { transform: translateY(18%); }
	100% { transform: translateY(0); } }

.navi-box { width: 505px; animation: dropDown 0.5s; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; background-color: rgba(0, 0, 0, 0.3); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D000000,endColorstr=#4D000000); text-align: center; _background: #22701e; overflow: hidden; padding: 20px; color: white; }

@media screen and (max-width: 640px) { .navi-box { width: 80%; } }

@media screen and (min-width: 0px) { .navi-box { filter: none; } }

.navi-box h1, .navi-box h3 { font-size: 25px; margin-bottom: 10px; text-align: center; font-weight: normal; }

.navi-box h3 { font-size: 16px; }

.navi-box a { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; width: 133px; height: auto; -webkit-user-select: none; -moz-user-select: none; user-select: none; font: 14px/auto "Microsoft YaHei"; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: rgba(255, 255, 255, 0); text-align: center; background: transparent; cursor: pointer; text-decoration: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding: 2px 5px; margin: 5px; _margin: 5px 11px; transition: all 0.3s ease-in 0s; font-size: 16px; border: 1px solid #fff; line-height: 25px; text-decoration: none; color: white; }

.navi-box a:hover { background-color: rgba(13, 13, 13, 0); }

.navi-box a:active { outline: thin dotted; outline-offset: -2px; background-color: transparent; }

.navi-box a:hover { background: white; color: #666; /*transform:rotate(3deg);*/ }

.wrap { width: 980px; margin: auto; }

@media screen and (max-width: 640px) { .wrap { width: auto; } }

.article-page .md-ctn { padding: 4px; }

.article-page .md-ctn table { margin: 8px 0; table-layout: fixed; border-collapse: collapse; border: 1px black #666; }

.article-page .md-ctn th, .article-page .md-ctn td { padding: 2px 4px; border: 1px #666 solid; word-break: break-all; word-wrap: break-word; }

.article-page .md-ctn sub, .article-page .md-ctn sup { font-size: 10px; }

.article-page .md-ctn p { text-indent: 32px; text-indent: 2rem; }

.article-page .md-ctn h1, .article-page .md-ctn h2, .article-page .md-ctn h3, .article-page .md-ctn h4, .article-page .md-ctn h5, .article-page .md-ctn h6 { line-height: normal; margin: 6px 0; }

.article-page .md-ctn h1 { font-size: 18px; }

.article-page .md-ctn h2 { font-size: 17px; }

.article-page .md-ctn h3 { font-size: 16px; }

.article-page .md-ctn h4 { font-size: 15px; }

.article-page .md-ctn h5 { font-size: 14px; }

.article-page .md-ctn h6 { font-size: 12px; }

.article-page .md-ctn pre { margin: 0; }

.article-bar { padding: 16px; background: #3b9739; }

.article-bar a { margin-right: 4px; color: white; font: 14px "Microsoft YaHei"; }
