<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<title>Share from water</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="author" content="water" />
<meta name="revisit-after" content="1 days" />
<meta name="keywords" content="sfger blog IT html5 css3 javascript js nodejs php cpp java" />
<meta name="description" content="Share from water" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/test/css/index.css?__version__" />
<base href="/" target="_blank" />
</head>
<body>
<div id="page" class="imgc ctnc">
<div class="imge boxc">
	<div class="contents">
		<h1>Share from water</h1>
		<p class="linkc">
			<a href="" title="CSS">CSS&#187;</a>
			<a href="" title="UI">UI&#187;</a>
			<a href="" title="Article">Article&#187;</a>
			<a href="demos?view=complex/seaShell" title="Link">Link&#187;</a>
		</p>
	</div>
</div>
<!--[if lt IE 8]><p class="iecp"></p><![endif]-->
</div>
</body>
</html>
