@charset "utf-8";
.cf{@include cf;}
.imgc{@include imgc;}
.imge{@include imge;}

.ib{@include ib;}
.badge{border-radius:50%;overflow:hidden;}
.img-ctn{@include imgc(1);}

.ib-row{@include imgc(0,'',left);}
.ib-col,.ib-col-full{@include imge(top);}
.ib-col-full{width:100%;}
.ib-row{
	&.ib-col,&.ib-col-full{font-size:0;}
}
.txt-lt{text-align:left;}
.txt-rt{text-align:right;}
.txt-ct{text-align:center;}
.txt-jt{
	text-align:justify;
	&.ie-pure-txt{text-justify:distribute-all-lines;}
	&:after{content:'';}
	&:after,.iecp{
		@include ib;@include size(100%,0px);
		overflow:hidden;line-height:0;padding:0;border:none;
	}
	// .i{@include ib;font-style:normal;}
}
.txt-clean{
	*{
		&:empty{display:none;}
		&:before{content:normal;}
		&:after{content:normal;}
		text-align:left!important;
		float:none!important;
		vertical-align:baseline!important;
		background:transparent!important;
		text-decoration:none!important;
		font-size:14px!important;
		border:none!important;
		box-shadow:none!important;
		display:inline!important;
		margin:0!important;
		padding:0!important;
		height:auto!important;
		width:auto!important;
		font-weight:normal!important;
		color: #666!important;
		word-break:break-all!important;
		word-wrap:break-word!important;
	}
	a{pointer-events:none!important;}
	br{display:none!important;}
}

.vt-top{vertical-align:top;}
.vt-mid{vertical-align:middle;}
.vt-btm{vertical-align:bottom;}
.vt-bsl{vertical-align:baseline;}

.grid{
	@include grid;
	&.vt-top{
		@include align-items(flex-start);
		.col,.col-rest{vertical-align:top;}
	}
	&.vt-btm{
		@include align-items(flex-end);
		.col,.col-rest{vertical-align:bottom;}
	}
	&.vt-mid{
		@include align-items(center);
		.col,.col-rest{vertical-align:middle;}
	}
	&.vt-bsl{
		@include align-items(baseline);
		.col,.col-rest{vertical-align:baseline;}
	}
	.col{@include col;}
	.col-rest{@include col-auto(1,1,auto);}
}
