@charset "utf-8";
// @import "fn";
// *,*:before,*:after,*::before,*::after{@include box-sizing(border-box);}
.cf{@include cf;}
.imge{@include imge;}
.imgc{@include imgc;}

.ib{@include ib;}
.img-tight{@include imgc(1);}

.ib-row{@include imgc(0,'',left);}
.ib-col,.ib-col-full{@include imge(top);}
.ib-col-full{width:100%;}
.ib-row{
	&.ib-col,&.ib-col-full{font-size:0;}
}
.txt-lt{text-align:left;}
.txt-rt{text-align:right;}
.txt-ct{text-align:center;}
.txt-justify{
	text-align:justify;
	&.ie-pure-txt{text-justify:distribute-all-lines;}
	&:after{content:'';}
	&:after,.iecp{
		@include ib;@include size(100%,0px);
		overflow:hidden;line-height:0;padding:0;border:none;
	}
	.i{@include ib;font-style:normal;}
}

.vt-top{vertical-align:top;}
.vt-mid{vertical-align:middle;}
.vt-btm{vertical-align:bottom;}

.grid{
	@include grid;
	.col{@include col;}
	.col-rest{@include col-auto(1,1,auto);}
}
