@charset "utf-8";
html,body{overflow:hidden;position:relative;}
.scrollbar-ctn{
	padding-right:4px;
	@include relative;overflow:hidden;
	>.scrollbar-cnt{max-height:100%;overflow:hidden;}
	>.scrollbar-outter{
		@include absolute(top 0 right 0,50);
		@include size(4px,100%);
		background:#999;opacity:0.5;
		cursor:pointer;
		>.scrollbar-inner{
			border-radius:4px;
			@include absolute(top 0 left 0,100);
			cursor:pointer;
			background:black;opacity:0.7;
			@include size(100%, 0.00001%);
		}
	}
	// &::-webkit-scrollbar{width:2px;height:8px;}
	// &::-webkit-scrollbar-corner,::-webkit-scrollbar-track{background-color:#ddd;}
	// &::-webkit-scrollbar-thumb{border-radius:0;background-color:rgba(0,0,0,.3);}
	// &::-webkit-scrollbar-corner,::-webkit-scrollbar-track{background-color:#ddd;}
}
