@import "utf-8";
$is_mobile:1 !default; // 兼容PC
*,*:before,*:after,*::before,*::after{@include box-sizing(border-box);}
html,body,.page{
	@include size(100%);overflow:hidden;color:#666;
	font:14px PingFangSC-Regular,"Droid Sans Regular","Rotobo";
}
body{position:relative;overflow-x:hidden;} // safari滚动条的问题
.hidden{display:none;}
a{color:$color_default;}

@include keyframes(stateLoading){
    0%{@include prefix((transform:rotate(0deg)));}
    24%{@include prefix((transform:rotate(180deg)));}
    58%{@include prefix((transform:rotate(290deg)));}
    100%{@include prefix((transform:rotate(360deg)));}
}
// @keyframes stateLoading{
//     0%{transform:rotate(0deg);}
//     24%{transform:rotate(180deg);}
//     58%{transform:rotate(290deg);}
//     100%{transform:rotate(360deg);}
// }
.icon-loading,#stateLoading{
	@include ib;@include size(40px);border-radius:100%;
	@include prefix((animation:stateLoading 1s linear 0s infinite normal));
	border:3px solid $color_blue;border-right-color:transparent;
	// border-left-width:4px;
	border-left-color:lighten($color_blue, 7.5%);
	// border-bottom-width:2px;
	border-bottom-color:lighten($color_blue, 25%);
}

.arrow-left{
	&:before{content:"";@include triangle(left, left 10px top 11px,#666,11px);}
	&:after {content:"";@include triangle(left, left 12px top 11px,white,11px);}
}
.checkbox{
	@include prefix((appearance:none));@include ib;@include size(18px);border-radius:50%;
	line-height:16px;color:#d6d6d6;border:1px solid;text-align:center;
	&:after{content:"\2713";}
	&:checked{color:white;background:$color_blue;border-color:$color_blue;}
}

// 头部固定，内容滚动
.page{
	-webkit-tap-highlight-color:rgba(#000,0);-webkit-touch-callout:none;
	@include flexbox;@include flex-direction(column);
}
.header{
	@include flex(0,0,44px);@include relative;z-index:10;background-color:rgba(#fff,0.8);
	@include flexbox;@include justify-content(space-between);@include align-items(center);
	text-align:center;
	#{&},#{&} a{font-size:18px;color:$color_dark;}
	.page-title{font-size:20px;}
	.action-left,.action-right{@include size(50px,44px);display:block;line-height:44px;}
}
.footer{@include flex(0,0,44px);}
.wrapper{
	@include flex(1,1,auto);@include relative();font-size:14px;overflow:hidden;
	&.webkit-scroll{-webkit-overflow-scrolling:touch;overflow-y:scroll;overflow-x:hidden;}
}

.dialog-ctn{
	@include size(100%);@include fixed(top 0 left 0);z-index:100;
	@include flexbox();@include align-items(center);@include justify-content(center);
	@include background-color-rgba(#444,0.68);
	&.hidden{display:none;}
	.dialog-content{
		width:85%;overflow:hidden;background:white;border-radius:3px;
		.dialog-main{
			padding:6px 10px;min-height:100px;
			@include flexbox();@include justify-content(center);@include align-items(center);
		}
	}
	&.loading-state{
		background-color:rgba(white,0.5);
		.dialog-content{
			padding:6px 10px;
			@include background-color-rgba(transparent,0);
			@include flexbox();@include justify-content(center);
		}
	}
	&.dialog-tip{
		@include background-color-rgba(white,0.01);
		.dialog-content{
			width:auto;max-width:85%;min-width:33.333%;
			padding:12px 25px;
			@include background-color-rgba(black,0.75);color:white;
			@include flexbox();@include justify-content(center);
		}
	}
}
.btn-group{
	@include flexbox();@include justify-content(center);
	border-top:1px solid #e2e2e2;
	span{
		@include flex(1,1,50%);@include user-select(none);text-align:center;line-height:40px;
		@include flexbox;@include justify-content(center);@include align-items(center);
	}
	.btn-submit{color:hsl(188,72%,51%);border-left:1px solid #e2e2e2;}
}

.slide-ctn{
	@include fixed(top 0 left 0,10);@include size(100%);
	@include flexbox;@include flex-direction(column);
	@include prefix((transform:translate3d(101%,0,0),transition:all 0.35s ease 0s));
	background:white;
	&.slide-in{
		@include prefix((transform:translate3d(0,0,0)));
	}
}

.load-more{
	display:none;font:16px SimHei;color:$color_blue;
	height:40px;line-height:40px;
	text-align:center;
	.icon-loading{display:none;}
	&.state-preloading{
		&:before{content:'松开加载更多……';@include ib;}
	}
	&.state-loading,&.state-preloading{
		display:block;
	}
	&.state-loading{
		&:before{content:normal;}
		span{display:inline-block;}
	}
}
