@charset "utf-8";
.dtp-ctn{
	// @include relative($index:100);
	display:none;z-index:100;border:1px solid #ddd;background:white;
	li{list-style:none;}
    .dtp-header{
		@include ib;margin-left:-22px;background:#eee;
        li{
			@include ib;width:208px;line-height:27px;text-align:center;color:#333;font-weight:bold;
			dfn,span{@include ib;}
			dfn{padding:0 2px;color:#333;text-decoration:none;font-style:normal;}
		}
    }
    .dtp-switcher{
		@include relative($index:1);@include ib;@include button(25px,25px,#999);
        text-decoration:none;color:white;font-size:20px;font-family:SimSun;
		&.dtp-prev{left:2px;}
		&.dtp-next{right:2px;margin-left:-22px;}
    }
    .dtp-list{
		text-align:center;
        .dtp-item{
            @include ib;width:208px;padding:2px;border-left:1px solid #ddd;
            &.first,&:first-child{border:none;}
        }
        // ul{padding:0;margin:auto;}
        .dtp-wh{background:#ececec;}
        li{
			@include size(25px,22px);line-height:20px;
			margin:2px;@include ib;text-align:center;
            &.weekend{color:#f18100;}
        }
		.dtp-wd li{
			@include button(25px,22px,#ececec);color:black;
			&:hover{background:#666;color:white;}
            &.day{font-weight:bold;color:#666;}
            &.disabled{
				color:#aab;
				&:hover{background:#ddd;}
			}
            &.selected{background:#4385e0;color:white;}
		}
    }
}
