@charset "utf-8";
$is_modern:0;
.datagrid-render-ctn{
	overflow:hidden;//@include prefix((transition:all 0.1s ease-out));color:#666;
	&.data-loading{
		.view-wrapper{z-index:-1;}
		position:relative;@include background-color-rgba(black,0.8);color:transparent;
		&:before{
			content:"数据正在加载中……";display:block;
			@include absolute(left 0 right 0 top 0 bottom 0);margin:auto;
			height:15px;line-height:15px;text-align:center;color:white;
		}
	}
}
.datagrid-ctn{
	overflow:hidden;@include ib;max-width:100%;
	.view-wrapper{position:relative;*white-space:nowrap;*overflow:hidden;}
	.col-view{*display:inline;*zoom:1;}
	.head-wrapper{overflow:hidden;}
	table{
		border-collapse:collapse;
		&,td{border:1px solid #ccc;}
		.cell-wrapper{padding:2px 5px;}
	}
	.body-wrapper{
		table,tr:first-child td{border-top:none;}
		tr:nth-child(even){background:#ffe;}
	}
	.frozen-view .body-wrapper{
		overflow:hidden;
		// table{margin-bottom:17px;}
	}
	.frozen-end{
		@include relative(left -1px);
	}
	.auto-view{
		// @include flex(0,0,auto);
		// width:auto;
		// max-width:100%;
		*position:absolute;*top:0;*right:0;
		.body-wrapper{overflow:auto;}
		&.locate-view{
			overflow:hidden;*width:0px;position:relative\0;
			>div{
				@media \0screen{@include absolute(left 0 right 0 top 0 bottom 0);}
				@media screen and (min-width:0\0) and (min-resolution:.001dpcm){@include absolute(left 0 right 0 top 0 bottom 0);}
			}
		}
		table,td:first-child{border-left:none;}
	}
	.head td:hover,/*.body tr:hover,*/.body tr.hover{background:#e6e6e6;}
	.cell{
		overflow:hidden;line-height:20px;text-align:center;white-space:nowrap;color:#333;
		&.txt-rt{text-align:right;}
		&.txt-lt{text-align:left;}
	}
	.field-title{@extend %ib;margin-left:12px;}
	.cell{height:100%;}
	.sortable{
		cursor:pointer;background:#f3f3f3;
		// filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#f3f3f3, endColorStr=#d1d1d1);
		// background:gradient(top, #f3f3f3, #d1d1d1, #f3f3f3);
		// background:-moz-linear-gradient(top, #f3f3f3, #d1d1d1, #f3f3f3);
		// background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(50%,#d1d1d1), color-stop(100%,#f3f3f3));
		// background:-webkit-linear-gradient(top, #f3f3f3 0%, #d1d1d1 50%,#f3f3f3 100%);
		// background:-o-linear-gradient(top, #f3f3f3 0%, #d1d1d1 50%,#f3f3f3 100%);
		// background:-ms-linear-gradient(top, #f3f3f3 0%, #d1d1d1 50%,#f3f3f3 100%);
		// background:linear-gradient(to bottom, #f3f3f3 0%, #d1d1d1 50%,#f3f3f3 100%);
		&:hover{background:#e6e6e6;}
		// .sort-mark:before{content:"↓";color:#eee;}
	}
	.sort-mark{
		@include ib;width:12px;text-align:center;font-family:SimSun;color:#b90;
		&.desc:before{content:"↓";color:#b90;}
		&.asc:before{content:"↑";color:#b90;}
	}
	.autoRowHeight .cell{height:auto;}
	.head .cell{font-family:MicroSoft Yahei;color:#000;}
}
