@charset "utf-8";
@each $one in chart, user, money{
	.icon-#{$one} {
		background-image: url(#{$basePath}/img/#{$one}.png);
	}
}
.menu-ctn{
	position:absolute;
	.wraper{border:1px solid #aaa;background:white;width:98px;}
	// .menu-vertical-line{position:absolute;z-index:10;top:0;left:22px;height:100%;border-left:1px solid #bbb;}
	ul{width:auto;}
	li{position:relative;/*float:left;width:100%;*/height:24px;padding:1px;list-style:none;}
	a{
		display:block;overflow:hidden;@include border-radius(2px);
		color:black;white-space:nowrap;text-decoration:none;
		&:hover{background:#e1e1e1;border-color:#bbb;}
		&.disabled{color:#aaa;}
	}
	span{@extend %ib;width:16px;cursor:pointer;line-height:22px;}
	.icon{height:16px;}
	.sub-tag{
		@include absolute(right 4px top 50%);@include size(0);margin-top:-3px;
		border-left:5px solid black;border-bottom:5px solid transparent;border-top:5px solid transparent;
		font-size:0;line-height:0;
	}
	.text{width:auto;padding:2px 0 0 5px;white-space:nowrap;}
	.separate{
		padding:0;height:1px;overflow:hidden;*font-size:0;*line-height:0;
		span{display:block;@include size(auto,0px);overflow:hidden;border-top:1px solid #bbb;/*margin:0 4px 0 26px;*/}
	}
}
