@charset "utf-8";
.datagrid-ctn{
	font-size:0;line-height:0;overflow:hidden;
	.view-wrapper{position:relative;}
	.view{@extend %ib;vertical-align:top;font-size:14px;font-size:1rem;line-height:normal;}
	.head-wrapper{overflow:hidden;}
	.body-wrapper{/*height:320px;*height:250px;*/overflow:auto;}
	table,td{border:1px solid #ccc;}
	table{border-collapse:collapse;}
	.body-wrapper table,.body-wrapper tr:first-child td{border-top:none;}
	.view:last-child{
		table,td:first-child{border-left:none;}
	}
	.head td:hover,.body tr:hover{background:#e6e6e6;}
	.cell{padding:2px 0px;overflow:hidden;line-height:20px;text-align:center;white-space:nowrap;color:#333;}
	.field-title{@extend %ib;margin-left:12px;}
	.sort-mark{
		@extend %ib;width:12px;text-align:center;font-family:SimSun;color:#b90;
		&.desc:before{content:"↓"}
		&.asc:before{content:"↑"}
	}
	.field{cursor:pointer;}
	.autoRowHeight .cell{height:auto;}
	.head .cell{font-family:"MicroSoft Yahei";color:#000;}
}
