<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Title</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="author" content="" />
<meta name="revisit-after" content="1 days" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="icon" href="../../../../favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="../../../../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../../../css/accordion.css?<%- __version__ %>" />
<style type="text/css" media="all">
* {padding:0;margin:0;}
#page{height:400px;}
</style>
</head>
<body>
<div id="page">
    <div id="test">
        <ul>
            <li>
                <a class="title" href="javascript:;">A</a>
                <div class="panel">
                    content<br /> content<br /> content<br /> content<br /> content<br /> content<br />
                    content<br /> content<br /> content<br /> content<br /> content<br /> content<br />
                    content<br /> content<br /> content<br /> content<br /> content<br /> content<br />
                    content<br /> content<br /> content<br /> content<br /> content<br /> content<br />
                </div>
            </li>
            <li>
                <a class="title" href="javascript:;">B</a>
                <div class="panel">
                    content<br /> content<br /> content<br /> content<br /> content<br /> content<br />
                    content<br /> content<br /> content<br /> content<br /> content<br /> content<br />
                    content<br /> content<br /> content<br /> content<br /> content<br /> content<br />
                    content<br /> content<br /> content<br /> content<br /> content<br /> content<br />
                </div>
            </li>
            <li>
                <a class="title" href="javascript:;">C</a>
                <div class="panel">
                    content<br /> content<br /> content<br /> content<br /> content<br /> content<br />
                    content<br /> content<br /> content<br /> content<br /> content<br /> content<br />
                    content<br /> content<br /> content<br /> content<br /> content<br /> content<br />
                </div>
            </li>
        </ul>
    </div>
</div><!-- #page end! -->
<script id="requirejs" data-version="<%- __version__ %>" src="../../../../public/js/require.js?<%- __version__ %>"></script>
<script>
require.config({
	baseUrl:'../../../../',
	urlArgs:document.getElementById("requirejs").getAttribute("data-version"),
	map:{"*":{css:"require-css"}},
	paths:{
		'jquery': 'public/js/jquery'
	},
	shim:{
		'ui/js/jquery-accordion':['jquery', 'ui/js/base']
	}
});
require(['jquery', 'ui/js/jquery-accordion'], function($){
	$('#test').accordion({
		selected:1,
		data:[],
		//fitContent:true
	});
});
</script>
</body>
</html>
